node-red/.flows.json.backup
[{"id":"63ef5fda.dd974","type":"tab","label":"Lumière","disabled":false,"info":"","env":[]},{"id":"7a831b6e2f802ee7","type":"tab","label":"Chauffage","disabled":false,"info":"","env":[]},{"id":"2751f6a3a0a7649a","type":"tab","label":"Alarme","disabled":false,"info":"","env":[]},{"id":"96aba16699ebe8be","type":"tab","label":"Ballon Eau Chaude","disabled":false,"info":"","env":[]},{"id":"335bd89f27c73b7e","type":"tab","label":"Notifications","disabled":false,"info":"","env":[]},{"id":"8ac4bc30b42b7a7d","type":"tab","label":"Notification - Coupure électrique","disabled":false,"info":"","env":[]},{"id":"d9ababc8eca2aa56","type":"tab","label":"Portails","disabled":false,"info":"","env":[]},{"id":"7512dcc2.be07d4","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.243","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29cc3035.d7f7","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a5f60f435cd422f8","type":"light-scheduler-settings","name":"MaMaison","latitude":"47.218371","longitude":"-1.553621"},{"id":"43d85569dace75e0","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"5837179e.526928","type":"websocket-client","path":"ws://supervisor/core/api/websocket","tls":"","wholemsg":"false"},{"id":"3cc77e8f498a61f2","type":"server-state-changed","z":"63ef5fda.dd974","name":"IR Garage","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ir_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":107,"wires":[["0447dd138dc2f62b"],["a86315cf7f3fb738"]]},{"id":"0447dd138dc2f62b","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":107,"wires":[[]]},{"id":"a86315cf7f3fb738","type":"delay","z":"63ef5fda.dd974","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":147,"wires":[["1d16e829474d24d0"]]},{"id":"1d16e829474d24d0","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":287,"wires":[[]]},{"id":"98f4ef359b3027c7","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Salle à manger","topic":"lights","x":360,"y":427,"wires":[["17fb96ef3ce40334"]]},{"id":"e3196143f3c9933a","type":"amazon-echo-hub","z":"63ef5fda.dd974","port":"80","processinput":0,"discovery":true,"x":110,"y":647,"wires":[["98f4ef359b3027c7","593a85874fb2c855","6944e02b39708ffe","9795ad3aaa87b5f4","ca872f255eb7b66b","55cd7e6dd75f42b8"]]},{"id":"17fb96ef3ce40334","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":427,"wires":[["1b53f4ba25b45a18"],["c45e83b5d7a01999"]]},{"id":"1b53f4ba25b45a18","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":367,"wires":[[]]},{"id":"c45e83b5d7a01999","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":487,"wires":[[]]},{"id":"b4ed1e396436353a","type":"comment","z":"63ef5fda.dd974","name":"Lumière SAM","info":"","x":350,"y":367,"wires":[]},{"id":"b6a6cdf2e837a57c","type":"comment","z":"63ef5fda.dd974","name":"Lumière garage","info":"","x":360,"y":47,"wires":[]},{"id":"593a85874fb2c855","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Chambre clarence","topic":"lights","x":370,"y":627,"wires":[["dfbae81653a202a3"]]},{"id":"dfbae81653a202a3","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":627,"wires":[["53893545c80faa9c"],["6c095f07a50eac56"]]},{"id":"53893545c80faa9c","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":567,"wires":[[]]},{"id":"6c095f07a50eac56","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":687,"wires":[[]]},{"id":"ce41e092d83a6af3","type":"comment","z":"63ef5fda.dd974","name":"Lumière chambre clarence","info":"","x":370,"y":567,"wires":[]},{"id":"6944e02b39708ffe","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Chambre parents","topic":"lights","x":370,"y":827,"wires":[["805523517b61da81"]]},{"id":"805523517b61da81","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":827,"wires":[["b6426b5b52035654"],["32c19aab0de8b838"]]},{"id":"b6426b5b52035654","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":767,"wires":[[]]},{"id":"32c19aab0de8b838","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":887,"wires":[[]]},{"id":"dc1cc0082c05750c","type":"comment","z":"63ef5fda.dd974","name":"Lumière chambre parents","info":"","x":370,"y":747,"wires":[]},{"id":"9795ad3aaa87b5f4","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"garage","topic":"lights","x":340,"y":287,"wires":[["32bb595e1e1670ec"]]},{"id":"32bb595e1e1670ec","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":287,"wires":[["0447dd138dc2f62b"],["1d16e829474d24d0"]]},{"id":"ca872f255eb7b66b","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Portails","topic":"doors","x":320,"y":987,"wires":[["076eb03b6c81f56c"]]},{"id":"076eb03b6c81f56c","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":987,"wires":[["e2baaffe216f3de7"],["ed30840c080d979c"]]},{"id":"e2baaffe216f3de7","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails_ouvertures_des_portails_en_rentrant","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":947,"wires":[[]]},{"id":"ed30840c080d979c","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1027,"wires":[[]]},{"id":"55cd7e6dd75f42b8","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Salon","topic":"lights","x":310,"y":1160,"wires":[["2cfe40976c49a9dd"]]},{"id":"2cfe40976c49a9dd","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1160,"wires":[["72a7e994355f8f81"],["66e45bc1d0a5c5d0"]]},{"id":"72a7e994355f8f81","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_salon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":1100,"wires":[[]]},{"id":"66e45bc1d0a5c5d0","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_salon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":1220,"wires":[[]]},{"id":"889b5c8931073e85","type":"comment","z":"63ef5fda.dd974","name":"Lumière Salon","info":"","x":310,"y":1100,"wires":[]},{"id":"e56cadb49a16b404","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":870}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":870}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":870}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":750}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":750}},{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":1080}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":2,\"mod\":1080}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":1080}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":4,\"mod\":1080}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1080}}]","topic":"","name":"Agenda Chauffage - Buanderie","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":370,"y":620,"wires":[["e1c16cd17770f92b"]]},{"id":"e1c16cd17770f92b","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":580,"wires":[["5eb145a35684ef62"],["d58f6f0cba023446"]]},{"id":"1f403c21b0dbd761","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":500,"wires":[[]]},{"id":"a1e6d590eb564b66","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":620,"wires":[[]]},{"id":"e2e25e792ec57ee9","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":120,"wires":[[]]},{"id":"7e62bab351a4d77f","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":220,"wires":[[]]},{"id":"c7e4912d13fa2656","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsTvON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.prise_tv_salon_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">","comparatorValueDatatype":"str","comparatorValue":"20","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":90,"y":120,"wires":[["0947e93765d474ee","c0931efa8330625b"],[]]},{"id":"724675af46895029","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsComputerON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.onoff_bureau_salon_electric_consumed_w_3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"100","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":100,"y":180,"wires":[["0947e93765d474ee","c0931efa8330625b"],["09fa9e9e6330c028"]]},{"id":"0947e93765d474ee","type":"api-current-state","z":"7a831b6e2f802ee7","name":"IsPascalAtHome","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.oneplus_pascal","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"ON","valueType":"str"},{"property":"payload","propertyType":"msg","value":"OFF","valueType":"str"},{"property":"payload","propertyType":"msg","value":"true","valueType":"str"},{"property":"payload","propertyType":"msg","value":"false","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":160,"wires":[["ca6c39f2dbe54b06","4b4e87a32de40a50"],["09fa9e9e6330c028"]]},{"id":"8c4bc594f6e5fdaa","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsPascalAway","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.oneplus_pascal","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":90,"y":240,"wires":[["09fa9e9e6330c028"],[]]},{"id":"ca6c39f2dbe54b06","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanComfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_sam', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":730,"y":140,"wires":[["b0feea2905844de8","d9332f4136289114"]]},{"id":"09fa9e9e6330c028","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_sam', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":730,"y":220,"wires":[["632df98a95271648"]]},{"id":"5eb145a35684ef62","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":500,"wires":[["d63abc825ca1bc18"]]},{"id":"d58f6f0cba023446","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":640,"wires":[["4863a466606e7fea"]]},{"id":"d63abc825ca1bc18","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":500,"wires":[["1f403c21b0dbd761","b9a81c969f8f9313"],[]]},{"id":"4863a466606e7fea","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":620,"wires":[["a1e6d590eb564b66","81796c127411ce7f"],[]]},{"id":"392823b42515bb5c","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage buanderie","info":"","x":340,"y":500,"wires":[]},{"id":"98f74902da0bb149","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage SAM","info":"","x":400,"y":60,"wires":[]},{"id":"b0feea2905844de8","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":140,"wires":[["e2e25e792ec57ee9","c147033a1177be52"],[]]},{"id":"632df98a95271648","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[["7e62bab351a4d77f","8cf4d55a994326fc"],[]]},{"id":"6231275e1cdc3f69","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneBuanderie","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_buanderie_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":100,"y":620,"wires":[["e56cadb49a16b404"],[]]},{"id":"1b306c90311a2df5","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":0,\"mod\":450},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":1110},\"end\":{\"dow\":1,\"mod\":1235}},{\"start\":{\"dow\":2,\"mod\":1110},\"end\":{\"dow\":2,\"mod\":1235}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1235}},{\"start\":{\"dow\":4,\"mod\":1110},\"end\":{\"dow\":4,\"mod\":1235}},{\"start\":{\"dow\":5,\"mod\":1110},\"end\":{\"dow\":5,\"mod\":1235}},{\"start\":{\"dow\":6,\"mod\":450},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":720},\"end\":{\"dow\":6,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":720},\"end\":{\"dow\":0,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":1110},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"Agenda Chauffage - Cuisie","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":360,"y":920,"wires":[["02ac3953042b1a59"]]},{"id":"02ac3953042b1a59","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":880,"wires":[["48eaba83bbab6c83"],["f25b29d086dc8928"]]},{"id":"04be2aebef9a1318","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":800,"wires":[[]]},{"id":"3d5e835a8e5b85fb","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine  - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":920,"wires":[[]]},{"id":"48eaba83bbab6c83","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":800,"wires":[["95e0dfedbb7a55ef"]]},{"id":"f25b29d086dc8928","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":940,"wires":[["2df0d708da8d8645"]]},{"id":"95e0dfedbb7a55ef","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":800,"wires":[["04be2aebef9a1318","3f957b21082c0c77"],[]]},{"id":"2df0d708da8d8645","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":920,"wires":[["3d5e835a8e5b85fb","67b4f79b53b07da1"],[]]},{"id":"ddb906c06a881220","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage cuisine","info":"","x":350,"y":800,"wires":[]},{"id":"94b0faee32316e49","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneCuisine","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_cuisine_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":90,"y":920,"wires":[["1b306c90311a2df5"],[]]},{"id":"d9332f4136289114","type":"debug","z":"7a831b6e2f802ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":80,"wires":[]},{"id":"b9a81c969f8f9313","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la buanderie en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":440,"wires":[["cc4b322392797d03"]]},{"id":"cc4b322392797d03","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1460,"y":440,"wires":[],"l":true},{"id":"81796c127411ce7f","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la buanderie en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":580,"wires":[["808fc3d6f770457e"]]},{"id":"808fc3d6f770457e","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1450,"y":580,"wires":[],"l":true},{"id":"3f957b21082c0c77","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la cuisine en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":740,"wires":[["c46c39c6a03e868d"]]},{"id":"c46c39c6a03e868d","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1380,"y":740,"wires":[],"l":true},{"id":"67b4f79b53b07da1","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la cuisine en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":880,"wires":[["5f2f4b2a804ffa16"]]},{"id":"5f2f4b2a804ffa16","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1430,"y":880,"wires":[],"l":true},{"id":"c147033a1177be52","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la salle à manger en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":40,"wires":[["17706589d3767fc3"]]},{"id":"17706589d3767fc3","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1420,"y":40,"wires":[],"l":true},{"id":"8cf4d55a994326fc","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la salle à manger en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":180,"wires":[["2f41dcd9008a319c"]]},{"id":"2f41dcd9008a319c","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1370,"y":180,"wires":[],"l":true},{"id":"4b4e87a32de40a50","type":"debug","z":"7a831b6e2f802ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"c0931efa8330625b","type":"debug","z":"7a831b6e2f802ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":80,"wires":[]},{"id":"78cae640b0ed2b99","type":"server-state-changed","z":"2751f6a3a0a7649a","name":"Alarme HA","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.alarme_maison","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["d248d9b79a7ec1c0","2ad61e6cbb9096da"]]},{"id":"d248d9b79a7ec1c0","type":"debug","z":"2751f6a3a0a7649a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"2ad61e6cbb9096da","type":"switch","z":"2751f6a3a0a7649a","name":"Statuts alarme","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"arming","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"armed_night","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":340,"y":260,"wires":[["8f3551f12fb011f4","34ac921fd026e4bc"],["192d7d5c3db58b77","34ac921fd026e4bc"],["2eb71b71a5827f45","34ac921fd026e4bc"],["2eb71b71a5827f45","34ac921fd026e4bc"],["192e9b1d90455377"],["e9d0ba7fd412237b","34ac921fd026e4bc"],["29a8ac0256bc867e","34ac921fd026e4bc"]]},{"id":"1c62624d970e0122","type":"function","z":"2751f6a3a0a7649a","name":"Activation de l'alarme","func":"msg.payload =\n\n\"60 secondes avant activation de l'alarme\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":100,"wires":[["c858a79d18d17e42"]]},{"id":"c858a79d18d17e42","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1320,"y":220,"wires":[],"l":true},{"id":"0e0e9f01537a464c","type":"inject","z":"2751f6a3a0a7649a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":80,"wires":[["1c62624d970e0122"]]},{"id":"51c599bf94a790a1","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme nuit","func":"msg.payload =\n\n\"Désactivation de l'alarme en mode nuit\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":540,"wires":[["844126695f1020be"]]},{"id":"e1695473f4f5eed7","type":"function","z":"2751f6a3a0a7649a","name":"Alarme activée - Totale","func":"msg.payload =\n\n\"Alarme activée en mode totale\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":240,"wires":[["c858a79d18d17e42"]]},{"id":"0947ee6869defae6","type":"function","z":"2751f6a3a0a7649a","name":"Alarme activée - nuit","func":"msg.payload =\n\n\"Alarme en mode nuit activée\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":280,"wires":[["c2a0c5b8ddc1f615"]]},{"id":"c2a0c5b8ddc1f615","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - ECHO","mode":"link","links":["34dd5813f28f2a42"],"x":1270,"y":260,"wires":[],"l":true},{"id":"e9d0ba7fd412237b","type":"function","z":"2751f6a3a0a7649a","name":"Rappel désactivation alarme","func":"msg.payload =\n\n\"Veuillez désactiver l'alarme!\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["c858a79d18d17e42"]]},{"id":"673cea63e6db801d","type":"switch","z":"2751f6a3a0a7649a","name":"Etat précédent ?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_night","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":720,"y":540,"wires":[["3a7582ba1370d1f2","59120d316859a466"],["3a7582ba1370d1f2","59120d316859a466","95a61b79df5b70fb"],["51c599bf94a790a1","59120d316859a466"],["7bf7f43e48d0d8ce","59120d316859a466","95a61b79df5b70fb"]]},{"id":"3a7582ba1370d1f2","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme Totale","func":"msg.payload =\n\n\"Désactivation de l'alarme en mode totale\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":500,"wires":[["c858a79d18d17e42"]]},{"id":"7bf7f43e48d0d8ce","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme","func":"msg.payload =\n\n\"Alarme désactivée \"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["844126695f1020be"]]},{"id":"844126695f1020be","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram","mode":"link","links":["a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1360,"y":600,"wires":[],"l":true},{"id":"17259af75856254d","type":"link out","z":"2751f6a3a0a7649a","name":"VersEtatPrécedent","mode":"link","links":["63f0cbdfdcf05dca"],"x":830,"y":200,"wires":[],"l":true},{"id":"63f0cbdfdcf05dca","type":"link in","z":"2751f6a3a0a7649a","name":"EtatPrecedent","links":["17259af75856254d"],"x":530,"y":540,"wires":[["673cea63e6db801d"]],"l":true},{"id":"192d7d5c3db58b77","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script Allumer appareils","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"allumer_des_appareils_quand_alarme_eteinte","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":200,"wires":[["17259af75856254d"]]},{"id":"2eb71b71a5827f45","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script eteindre appareils - Totale","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alarme_eteindre_des_appareils_en_mode_totale","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":240,"wires":[["e1695473f4f5eed7"]]},{"id":"192e9b1d90455377","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script eteindre appareils - Nuit","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"eteindre_des_appareils_pour_la_nuit","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":280,"wires":[["0947ee6869defae6"]]},{"id":"29a8ac0256bc867e","type":"link out","z":"2751f6a3a0a7649a","name":"VersDéclenchemenAlarme","mode":"link","links":["a66e966f7f5e94ff"],"x":630,"y":400,"wires":[],"l":true},{"id":"a66e966f7f5e94ff","type":"link in","z":"2751f6a3a0a7649a","name":"DéclenchementAlarme","links":["29a8ac0256bc867e"],"x":540,"y":780,"wires":[["174f734c3abae27b"]],"l":true},{"id":"aed35cdfa33f2884","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Entree - ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sirene_entree_switch_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":800,"wires":[[]]},{"id":"174f734c3abae27b","type":"switch","z":"2751f6a3a0a7649a","name":"Etat précédent ?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"armed_night","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":780,"wires":[["caccd1bf551632db","e3dd133cf84acdf4"],["aed35cdfa33f2884","caccd1bf551632db","29bda6cb1588516b"]]},{"id":"caccd1bf551632db","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Garage - ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sirene_garage_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":740,"wires":[[]]},{"id":"85cd51a497b8d3eb","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1240,"y":680,"wires":[],"l":true},{"id":"21d3b514b2df5ab9","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1240,"y":880,"wires":[],"l":true},{"id":"e3dd133cf84acdf4","type":"function","z":"2751f6a3a0a7649a","name":"Intrusion détectée","func":"msg.payload =\n\n\"Attention!!! intrusion détectée \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.alarme_nuit_detecteurs','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":680,"wires":[["85cd51a497b8d3eb"]]},{"id":"29bda6cb1588516b","type":"function","z":"2751f6a3a0a7649a","name":"Intrusion détectée","func":"msg.payload =\n\n\"Attention!!! intrusion détectée \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.alarme_nuit_detecteurs','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":880,"wires":[["21d3b514b2df5ab9"]]},{"id":"bc6c28060037d161","type":"comment","z":"2751f6a3a0a7649a","name":"Déclenchement de l'alarme","info":"","x":570,"y":700,"wires":[]},{"id":"910533b15066023c","type":"comment","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme","info":"","x":570,"y":480,"wires":[]},{"id":"59120d316859a466","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Garage - OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sirene_garage_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":460,"wires":[[]]},{"id":"95a61b79df5b70fb","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Entree - OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sirene_entree_switch_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":400,"wires":[[]]},{"id":"8f3551f12fb011f4","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script Fermeture des volets","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alarme_fermeture_des_volets","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":140,"wires":[["1c62624d970e0122"]]},{"id":"34ac921fd026e4bc","type":"debug","z":"2751f6a3a0a7649a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":600,"wires":[]},{"id":"e003e767c35951b4","type":"api-render-template","z":"96aba16699ebe8be","name":"Temp ballon < 42","server":"43d85569dace75e0","version":0,"template":"{{ states.sensor.temperature_ballon_eau_chaude.state | float < 42 }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":750,"y":140,"wires":[["c497da57748a9f9a"]]},{"id":"8e9ec192cb17c671","type":"api-call-service","z":"96aba16699ebe8be","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.onoff_ballon_eau_chaude_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":300,"wires":[["a0f0d77c949b2bfc"]]},{"id":"ca202181e66ef8e2","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode du matin - ON","lat":"47.0942","lon":"1.6124","startTime":"03:30","endTime":"05:00","startOffset":0,"endOffset":0,"x":330,"y":200,"wires":[["e003e767c35951b4"],["f0dc0a7e77db0249"]]},{"id":"03d82b2ef5b2ea26","type":"server-state-changed","z":"96aba16699ebe8be","name":"Temp <= 45","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.temperature_ballon_eau_chaude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"45","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":280,"wires":[["ca202181e66ef8e2"],[]]},{"id":"f0dc0a7e77db0249","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode de l'après midi - ON","lat":"47.0942","lon":"1.6124","startTime":"16:30","endTime":"19:30","startOffset":0,"endOffset":0,"x":650,"y":240,"wires":[["e003e767c35951b4"],["d3c7bf69ce3428eb"]]},{"id":"74548d4e3b1383e2","type":"api-call-service","z":"96aba16699ebe8be","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.onoff_ballon_eau_chaude_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":160,"wires":[["1331ef0576414a70"]]},{"id":"7e4844206e3e90de","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode du matin - OFF","lat":"47.0942","lon":"1.6124","startTime":"05:15","endTime":"08:00","startOffset":0,"endOffset":0,"x":390,"y":360,"wires":[["d3c7bf69ce3428eb"],["30d71d67c6e0b768"]]},{"id":"30d71d67c6e0b768","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode de l'après midi - OFF","lat":"47.0942","lon":"1.6124","startTime":"18:30","endTime":"20:00","startOffset":0,"endOffset":0,"x":750,"y":380,"wires":[["d3c7bf69ce3428eb"],[]]},{"id":"1331ef0576414a70","type":"function","z":"96aba16699ebe8be","name":"Notification ballon eau chaude - Mise en marche","func":"msg.payload =\n\n\"Mise en marche du ballon eau chaude!\"+\n\n\n\"La température de l'eau est de \"+ \n\"{{states('sensor.temperature_ballon_eau_chaude') }}\"+\n\"degrées\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":160,"wires":[["8cb1b630a05f37fb"]]},{"id":"8cb1b630a05f37fb","type":"link out","z":"96aba16699ebe8be","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1730,"y":160,"wires":[],"l":true},{"id":"a0f0d77c949b2bfc","type":"function","z":"96aba16699ebe8be","name":"Notification ballon eau chaude - Arrêt","func":"msg.payload =\n\n\"Arrêt du ballon eau chaude!\"+\n\n\n\"La température de l'eau est de \"+ \n\"{{states('sensor.temperature_ballon_eau_chaude') }}\"+\n\"degrées\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":300,"wires":[["8a2c9324ee6ed2b2"]]},{"id":"8a2c9324ee6ed2b2","type":"link out","z":"96aba16699ebe8be","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1770,"y":260,"wires":[],"l":true},{"id":"672fc88d346d23b7","type":"comment","z":"96aba16699ebe8be","name":"Ballon Eau Chaude","info":"","x":370,"y":120,"wires":[]},{"id":"d3c7bf69ce3428eb","type":"api-current-state","z":"96aba16699ebe8be","name":"IsBallonOn","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.onoff_ballon_eau_chaude_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":970,"y":300,"wires":[["8e9ec192cb17c671"],[]]},{"id":"0840955ef3add1b5","type":"server-state-changed","z":"96aba16699ebe8be","name":"Temp > 55","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.temperature_ballon_eau_chaude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"55","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":360,"wires":[["7e4844206e3e90de"],[]]},{"id":"c497da57748a9f9a","type":"api-current-state","z":"96aba16699ebe8be","name":"IsBallonOff","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.onoff_ballon_eau_chaude_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":160,"wires":[["74548d4e3b1383e2"],[]]},{"id":"378479c211761b24","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Cuisine ","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_cuisine","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":80,"wires":[[]]},{"id":"a72ceb1f25657c10","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa SAM","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alexa_notification_sam_variable","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":180,"wires":[[]]},{"id":"a2c946eba66eb203","type":"inject","z":"335bd89f27c73b7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["93d5ef698a73d77a"]]},{"id":"93d5ef698a73d77a","type":"function","z":"335bd89f27c73b7e","name":"","func":"msg.payload =\n\n\"test de message\"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["e4f264c083d0b3f9","1b82cf59a11925c4"]]},{"id":"34dd5813f28f2a42","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoCuisine","links":["c858a79d18d17e42","8edc6d7303c2db5d","c2a0c5b8ddc1f615","85cd51a497b8d3eb","21d3b514b2df5ab9","cc4b322392797d03","808fc3d6f770457e","c46c39c6a03e868d","5f2f4b2a804ffa16","a6a57d0ecd2dfa3b","17706589d3767fc3","2f41dcd9008a319c","b9e9713fda5bce12","3785c846db38725f","5430e8d9f63ec903","a204df79d980c106","8cb1b630a05f37fb","8a2c9324ee6ed2b2","07eb6ece469c79da","7dc79138d067c52c"],"x":180,"y":140,"wires":[["378479c211761b24"]],"l":true},{"id":"ced87f2e5d5c0601","type":"link in","z":"335bd89f27c73b7e","name":"VersEcoSAM","links":["cc4b322392797d03","808fc3d6f770457e","c46c39c6a03e868d","5f2f4b2a804ffa16","a6a57d0ecd2dfa3b","17706589d3767fc3","2f41dcd9008a319c","b9e9713fda5bce12","3785c846db38725f","5430e8d9f63ec903","a204df79d980c106","8cb1b630a05f37fb","8a2c9324ee6ed2b2","07eb6ece469c79da","7dc79138d067c52c"],"x":170,"y":220,"wires":[["a72ceb1f25657c10"]],"l":true},{"id":"7171a791fb43faa8","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Clarence","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_clarence","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":280,"wires":[[]]},{"id":"85ce76ed49a3c796","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Eloise","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_eloise","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":360,"wires":[[]]},{"id":"d1dc7f1a2fa6359d","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoClarence","links":[],"x":190,"y":300,"wires":[["7171a791fb43faa8"]],"l":true},{"id":"e8df3e37b83f6011","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoEloise","links":[],"x":180,"y":380,"wires":[["85ce76ed49a3c796"]],"l":true},{"id":"e4f264c083d0b3f9","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Telegram - Pascal","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"telegram_notification_pascal","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":120,"wires":[[]]},{"id":"5a5120b14be45708","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Telegram - Stéphanie","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"telegram_notification_stephanie","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":220,"wires":[[]]},{"id":"a7ddbf0dfd2c325b","type":"link in","z":"335bd89f27c73b7e","name":"VersTelegramPascal","links":["c858a79d18d17e42","8edc6d7303c2db5d","844126695f1020be","85cd51a497b8d3eb","21d3b514b2df5ab9","07eb6ece469c79da","7dc79138d067c52c"],"x":910,"y":140,"wires":[["e4f264c083d0b3f9"]],"l":true},{"id":"f550e12c1257457e","type":"link in","z":"335bd89f27c73b7e","name":"VersTelegramStephanie","links":["c858a79d18d17e42","8edc6d7303c2db5d","844126695f1020be","85cd51a497b8d3eb","21d3b514b2df5ab9"],"x":920,"y":240,"wires":[["5a5120b14be45708"]],"l":true},{"id":"0197bc6249b93a5a","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Stéphanie","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_stephanie_duplicate","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":620,"wires":[[]]},{"id":"1b82cf59a11925c4","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Pascal","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_obligatoire_pascal","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":700,"wires":[[]]},{"id":"13daf0ea1bc534dd","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Clarence","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_clarence","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":780,"wires":[[]]},{"id":"a640059ff6cedd61","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Eloise","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_eloise","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":860,"wires":[[]]},{"id":"22186f7a74fec36f","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSStephanie","links":["c858a79d18d17e42","8edc6d7303c2db5d","85cd51a497b8d3eb","21d3b514b2df5ab9"],"x":170,"y":620,"wires":[["0197bc6249b93a5a"]],"l":true},{"id":"93d062bbf9af5c89","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSPascal","links":["c858a79d18d17e42","8edc6d7303c2db5d","85cd51a497b8d3eb","21d3b514b2df5ab9","07eb6ece469c79da","7dc79138d067c52c"],"x":164.0142059326172,"y":700.7329711914062,"wires":[["1b82cf59a11925c4"]],"l":true},{"id":"88f4a6b9887ab019","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSEloise","links":[],"x":160,"y":860,"wires":[["a640059ff6cedd61"]],"l":true},{"id":"343866db0d57e779","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSClarence","links":[],"x":170,"y":780,"wires":[["13daf0ea1bc534dd"]],"l":true},{"id":"f979c8b43295f730","type":"comment","z":"335bd89f27c73b7e","name":"SMS","info":"","x":350,"y":560,"wires":[]},{"id":"145324512d5b0e46","type":"comment","z":"335bd89f27c73b7e","name":"Telegram","info":"","x":1100,"y":80,"wires":[]},{"id":"a047ad67eb2985fe","type":"comment","z":"335bd89f27c73b7e","name":"ECHO","info":"","x":310,"y":40,"wires":[]},{"id":"6a81d1fe531efb26","type":"debug","z":"8ac4bc30b42b7a7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"7209415a4aa9f6dd","type":"switch","z":"8ac4bc30b42b7a7d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On Battery Battery Discharging","vt":"str"},{"t":"eq","v":"Online Battery Charging","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["6a81d1fe531efb26","becda4442ef086e4","9a39a06458e07d35"],["6a81d1fe531efb26","77f18194c6eb48b6"]]},{"id":"344360a1fd75c2f1","type":"server-state-changed","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.myups_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":260,"wires":[["7209415a4aa9f6dd","6a81d1fe531efb26"]]},{"id":"becda4442ef086e4","type":"api-call-service","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"shell_command","service":"turn_off_nas_netgear","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":200,"wires":[["0219aa3aba7d0863"]]},{"id":"9a39a06458e07d35","type":"api-call-service","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"shell_command","service":"turn_off_nas_nl54l","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":160,"wires":[["0219aa3aba7d0863"]]},{"id":"07eb6ece469c79da","type":"link out","z":"8ac4bc30b42b7a7d","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","ced87f2e5d5c0601"],"x":1340,"y":180,"wires":[],"l":true},{"id":"0219aa3aba7d0863","type":"function","z":"8ac4bc30b42b7a7d","name":"Coupure électrique détectée","func":"msg.payload =\n\n\"Coupure électrique détectée!\"+\n\"Extinction des NAS!\"+ \n\"Statut de l'onduleur!\"+\"{{ states('sensor.myups_status') }}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":180,"wires":[["07eb6ece469c79da"]]},{"id":"7dc79138d067c52c","type":"link out","z":"8ac4bc30b42b7a7d","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","ced87f2e5d5c0601"],"x":1340,"y":260,"wires":[],"l":true},{"id":"77f18194c6eb48b6","type":"function","z":"8ac4bc30b42b7a7d","name":"Coupure électrique détectée","func":"msg.payload =\n\n\"Retour électrique détectée!\"+\n\"Batterie de l'onduleur en charge !\"+ \n\"Statut de l'onduleur!\"+\"{{ states('sensor.myups_status') }}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":260,"wires":[["7dc79138d067c52c"]]}]