node-red/.flows.json.backup
[{"id":"63ef5fda.dd974","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdc1e9ac.cac8e8","type":"tab","label":"Téléinfo","disabled":false,"info":""},{"id":"9cae0dd7.cd0c68","type":"tab","label":"Puissance instantanée","disabled":false,"info":""},{"id":"282b70f0.04fe1","type":"server","name":"Home Assistant","addon":true},{"id":"7a79f53b.7eec1c","type":"server","name":"Home Assistant","addon":true},{"id":"7512dcc2.be07d4","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.243","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29cc3035.d7f7","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"39f42fed.0607e8","type":"server","name":"Home Assistant","addon":true},{"id":"b09c0439.ac4018","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":380,"wires":[]},{"id":"514b1590.e58f1c","type":"function","z":"fdc1e9ac.cac8e8","name":"Structure payload","func":"function isNumeric(n) { \n      return !isNaN(parseFloat(n)) && isFinite(n); \n}\n\n// Pour tous les labels \nfor (var label in msg.payload ) {\n    var value = msg.payload[label];\n    \n\t// Correction des valeurs type string en numérique \t\t\n\tif (label == \"OPTARIF\")\t{\n  \t\t// L'option tarifaire choisie (Groupe \"OPTARIF\") est codée sur 4 caractères alphanumériques \n  \t\t// J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous \n  \t\t// je mets le 4eme char à 0, trop de possibilités \n      \tvalue = value.substring(0, 3);\n    \n       \tif      (value==\"BAS\") value=1;// BASE => Option Base. \n  \t\telse if (value==\"HC.\") value=2;// HC.. => Option Heures Creuses. \n  \t\telse if (value==\"EJP\") value=3;// EJP. => Option EJP. \n  \t\telse if (value==\"BBR\") value=4;// BBRx => Option Tempo\n  \t\telse value = 0;\n  \t\t\n  \t\tmsg.payload[label] = value;\n\t} else if (label==\"HHPHC\") {\n      // L'horaire heures pleines/heures creuses (Groupe \"HHPHC\") est codé par un caractère A à Y \n      // J'ai choisi de prendre son code ASCII\n      msg.payload[label] = value.charCodeAt();\n    } else if ( label == \"PTEC\") {\n      // La période tarifaire en cours (Groupe \"PTEC\"), est codée sur 4 caractères \n      // J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous\n      if      (value==\"TH..\") value= 1; // Toutes les Heures. \n      else if (value==\"HC..\") value= \"Heures Creuses\"; // Heures Creuses. \n      else if (value==\"HP..\") value= \"Heures Pleines\"; // Heures Pleines. \n      else if (value==\"HN..\") value= 4; // Heures Normales. \n      else if (value==\"PM..\") value= 5; // Heures de Pointe Mobile. \n      else if (value==\"HCJB\") value= 6; // Heures Creuses Jours Bleus. \n      else if (value==\"HCJW\") value= 7; // Heures Creuses Jours Blancs (White). \n      else if (value==\"HCJR\") value= 8; // Heures Creuses Jours Rouges. \n      else if (value==\"HPJB\") value= 9; // Heures Pleines Jours Bleus. \n      else if (value==\"HPJW\") value= 10;// Heures Pleines Jours Blancs (White). \n      else if (value==\"HPJR\") value= 11;// Heures Pleines Jours Rouges. \n      else value = 0;\n      \n      msg.payload[label] = value;\n    } else if ( label == \"IINST\") {\n        delete msg.payload.IINST;\n        msg.payload.IINST = Number(value)\n    } else if ( label == \"IMAX\") {\n        delete msg.payload.IMAX;\n        msg.payload.IMAX1 = Number(value);\n    } else if ( isNumeric(value) && label != \"ADCO\" ) {\n        // Transformer les valeurs numériques\n        msg.payload[label] = Number(value);\n    }\n}\n\n// Sauvegarde dans le contexte global\ncontext.global.teleinfo = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["990483f3.fe774","8198b260.e10b5","5d3d91ae.17aa3","71cdcc0b.9ddaf4","588dd4b2.b3175c","ebb541f7.536e9","303f50bb.fecb5"]]},{"id":"46a9d54f.b6be5c","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/index_wh","topic":"edf/index_wh","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1310,"y":420,"wires":[]},{"id":"9c86e717.2bd168","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/index_kwh","topic":"edf/index_kwh","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1320,"y":520,"wires":[]},{"id":"10254195.0418ae","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/iinst","topic":"edf/iinst","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1300,"y":620,"wires":[]},{"id":"70ea4ff9.2274","type":"serial in","z":"fdc1e9ac.cac8e8","name":"","serial":"29cc3035.d7f7","x":70,"y":400,"wires":[["2977b3f5.b4a6dc"]]},{"id":"990483f3.fe774","type":"function","z":"fdc1e9ac.cac8e8","name":"INDEX TOTAL WH","func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[["2cde3452.2d946c"]]},{"id":"9d778ce9.94f0d","type":"function","z":"fdc1e9ac.cac8e8","name":"valide trame","func":"// La trame complète est reçue dans 'msg'\nvar teleinfo={};\n\n// Enlever les codes début et fin de trame et récupérer les lignes 1 à 1\nvar lines = msg.payload.toString().replace(\"\\u0002\\n\",\"\").replace(\"\\r\\u0003\",\"\");\nlines = lines.split(\"\\r\\n\");\n\n// Pour chaque ligne\nfor (var line in lines) {\n\tvar i;\n  \tvar checksum = 32;\n  \t\n  \t// Recupérer le label, la valeur et la checksum\n  \t// si la checksum est un espace on le remplace par un caractère non \n  \t// autorisé en checksum (ici 's') pour eviter pb de split\n  \t// donc espace espace devient espace s\n\tvar myline = lines[line].toString().replace(\"  \",\" s\").split(\" \");\n\t\n\t// on dépile nos 3 valeurs\n\tvar check = myline.pop();\n\tvar value = myline.pop();\n\tvar label = myline.pop();\n\t\n\t// On peu repositionner la checksum à espace si c'était le cas\n\tif (check == \"s\") check = \" \";\n\n\t// Calcul de la checksum sur ce qu'on a reçu, on balaye tous les caractères\t\t\n  \tfor (i = 0; i < label.length; i++) checksum += label.charCodeAt(i);\n  \tfor (i = 0; i < value.length; i++) checksum += value.charCodeAt(i);\n \tchecksum = ((checksum%256) & 63) + 32;\n \tchecksum = String.fromCharCode(checksum);\n\t\n\t// Checksum correcte ?\n \tif (checksum == check ) {\n\t\tteleinfo[label] = value;\n\t} else {\n\t\tconsole.log(\"'%s' '%s' '%s' => Bad Checksum '%s'\", label, value, check, checksum );\n\t}\n}\nreturn [ { payload: teleinfo } ];","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["514b1590.e58f1c","aefe7160.57c1a"]]},{"id":"2cde3452.2d946c","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":400,"wires":[["b09c0439.ac4018","46a9d54f.b6be5c"]]},{"id":"8198b260.e10b5","type":"function","z":"fdc1e9ac.cac8e8","name":"INDEX TOTAL KWH","func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":460,"wires":[["3dfb4122.3d27de"]]},{"id":"3dfb4122.3d27de","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":460,"wires":[["2dd19924.369716","9c86e717.2bd168"]]},{"id":"2dd19924.369716","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":480,"wires":[]},{"id":"ebb541f7.536e9","type":"function","z":"fdc1e9ac.cac8e8","name":"IINST","func":"var IINST = msg.payload.IINST\n\nmsg.payload = IINST\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[["a2f01471.b8c398"]]},{"id":"71e8c16f.a70ca","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":580,"wires":[]},{"id":"a2f01471.b8c398","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":520,"wires":[["71e8c16f.a70ca","10254195.0418ae"]]},{"id":"2977b3f5.b4a6dc","type":"delay","z":"fdc1e9ac.cac8e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":400,"wires":[["9d778ce9.94f0d","c356926a.8742c"]]},{"id":"5d3d91ae.17aa3","type":"function","z":"fdc1e9ac.cac8e8","name":"INDEX HC KWH","func":"var INDEX = msg.payload.HCHC\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["47f8cc4c.fbad54"]]},{"id":"71cdcc0b.9ddaf4","type":"function","z":"fdc1e9ac.cac8e8","name":"INDEX HP KWH","func":"var INDEX = msg.payload.HCHP\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["4670cab5.9fb654","88302549.f8ace8"]]},{"id":"88302549.f8ace8","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":180,"wires":[]},{"id":"ded28c4e.7f611","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/index_hp_kwh","topic":"edf/index_hp_kwh","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1330,"y":220,"wires":[]},{"id":"3a2234da.474afc","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":280,"wires":[]},{"id":"5bfb1b7e.bba814","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/index_hc_wh","topic":"edf/index_hc_kwh","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1330,"y":320,"wires":[]},{"id":"47f8cc4c.fbad54","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":340,"wires":[["5bfb1b7e.bba814","3a2234da.474afc"]]},{"id":"4670cab5.9fb654","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":280,"wires":[["ded28c4e.7f611","88302549.f8ace8"]]},{"id":"588dd4b2.b3175c","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"aefe7160.57c1a","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":300,"wires":[]},{"id":"c356926a.8742c","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":300,"wires":[]},{"id":"303f50bb.fecb5","type":"function","z":"fdc1e9ac.cac8e8","name":"PTEC","func":"var PTEC = msg.payload.PTEC\n\nmsg.payload = PTEC\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":580,"wires":[["4599761c.7a4898"]]},{"id":"49e6f7e4.ba3148","type":"mqtt out","z":"fdc1e9ac.cac8e8","name":"edf/ptec","topic":"edf/ptec","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1300,"y":720,"wires":[]},{"id":"1a054d6.95c5db3","type":"debug","z":"fdc1e9ac.cac8e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":680,"wires":[]},{"id":"4599761c.7a4898","type":"rbe","z":"fdc1e9ac.cac8e8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":580,"wires":[["1a054d6.95c5db3","49e6f7e4.ba3148"]]},{"id":"8fec5fcd.619d8","type":"api-get-history","z":"9cae0dd7.cd0c68","name":"index edf -2mn","server":"39f42fed.0607e8","startdate":"","enddate":"","entityid":"sensor.index_edf_wh","entityidtype":"is","useRelativeTime":true,"relativeTime":"2m","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":280,"y":360,"wires":[["a95b56d3.5e3ab8"]]},{"id":"63fe3923.c847c8","type":"api-current-state","z":"9cae0dd7.cd0c68","name":"index edf now","server":"39f42fed.0607e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.index_edf_wh","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280,"y":460,"wires":[["d34d6023.990f7"]]},{"id":"a95b56d3.5e3ab8","type":"function","z":"9cae0dd7.cd0c68","name":"","func":"msg2 = {};\nmsg2.payload = {};\ntopic = 'old';\nmsg2.payload.old_state = parseFloat(msg.payload[0].state);\nmsg2.payload.old_date = Date.parse(msg.payload[0].last_changed)/1000|0;\nmsg2.topic = topic;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":360,"wires":[["b3795568.a51e68","4fe7ef7a.e64858"]]},{"id":"b3795568.a51e68","type":"join","z":"9cae0dd7.cd0c68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":400,"wires":[["315a0d22.c6782a"]]},{"id":"315a0d22.c6782a","type":"function","z":"9cae0dd7.cd0c68","name":"","func":"old = msg.payload.old.old_state;\ncurrent = msg.payload.new.new_state;\ndiff_index = current - old;\ndiff_seconds = msg.payload.new.new_date - msg.payload.old.old_date;\ncoeff = diff_seconds / 3600\nconso = diff_index / coeff\nconso = Math.round(conso*100)/100\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.conso = conso;\nreturn msg2;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["2d4aca6b.68b1fe"]]},{"id":"32c7821d.fcda46","type":"inject","z":"9cae0dd7.cd0c68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["8fec5fcd.619d8","63fe3923.c847c8"]]},{"id":"d34d6023.990f7","type":"function","z":"9cae0dd7.cd0c68","name":"","func":"msg3 = {};\nmsg3.payload = {};\ntopic = 'new';\nmsg3.payload.new_state = parseFloat(msg.payload);\nmsg3.payload.new_date = Date.parse(msg.data.last_changed)/1000|0;\nmsg3.topic = topic;\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":460,"wires":[["b3795568.a51e68","507655cc.5bb354"]]},{"id":"b06eb92a.2fb7a","type":"mqtt out","z":"9cae0dd7.cd0c68","name":"puissance instantanée","topic":"edf/puissance_inst","qos":"","retain":"true","broker":"7512dcc2.be07d4","x":1280,"y":400,"wires":[]},{"id":"2d4aca6b.68b1fe","type":"function","z":"9cae0dd7.cd0c68","name":"transforme en nombre","func":"\nmsg.payload= parseFloat(msg.payload.conso);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":400,"wires":[["b06eb92a.2fb7a"]]},{"id":"4fe7ef7a.e64858","type":"debug","z":"9cae0dd7.cd0c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":585,"y":315,"wires":[]},{"id":"507655cc.5bb354","type":"debug","z":"9cae0dd7.cd0c68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":480,"wires":[]}]