node-red/.flows.json.backup
[{"id":"63ef5fda.dd974","type":"tab","label":"Lumière - Portails","disabled":false,"info":"","env":[]},{"id":"7a831b6e2f802ee7","type":"tab","label":"Chauffage","disabled":false,"info":"","env":[]},{"id":"2751f6a3a0a7649a","type":"tab","label":"Alarme","disabled":false,"info":"","env":[]},{"id":"335bd89f27c73b7e","type":"tab","label":"Alexa TTS vers script","disabled":false,"info":"","env":[]},{"id":"7512dcc2.be07d4","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.243","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29cc3035.d7f7","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a5f60f435cd422f8","type":"light-scheduler-settings","name":"MaMaison","latitude":"47.218371","longitude":"-1.553621"},{"id":"43d85569dace75e0","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"5837179e.526928","type":"websocket-client","path":"ws://supervisor/core/api/websocket","tls":"","wholemsg":"false"},{"id":"3cc77e8f498a61f2","type":"server-state-changed","z":"63ef5fda.dd974","name":"IR Garage","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ir_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":107,"wires":[["0447dd138dc2f62b"],["a86315cf7f3fb738"]]},{"id":"0447dd138dc2f62b","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":107,"wires":[[]]},{"id":"a86315cf7f3fb738","type":"delay","z":"63ef5fda.dd974","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":147,"wires":[["1d16e829474d24d0"]]},{"id":"1d16e829474d24d0","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":287,"wires":[[]]},{"id":"98f4ef359b3027c7","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Salle à manger","topic":"lights","x":360,"y":427,"wires":[["17fb96ef3ce40334"]]},{"id":"e3196143f3c9933a","type":"amazon-echo-hub","z":"63ef5fda.dd974","port":"80","processinput":0,"discovery":true,"x":110,"y":647,"wires":[["98f4ef359b3027c7","593a85874fb2c855","6944e02b39708ffe","9795ad3aaa87b5f4","ca872f255eb7b66b"]]},{"id":"17fb96ef3ce40334","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":427,"wires":[["1b53f4ba25b45a18"],["c45e83b5d7a01999"]]},{"id":"1b53f4ba25b45a18","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":367,"wires":[[]]},{"id":"c45e83b5d7a01999","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":487,"wires":[[]]},{"id":"b4ed1e396436353a","type":"comment","z":"63ef5fda.dd974","name":"Lumière SAM","info":"","x":350,"y":367,"wires":[]},{"id":"b6a6cdf2e837a57c","type":"comment","z":"63ef5fda.dd974","name":"Lumière garage","info":"","x":360,"y":47,"wires":[]},{"id":"593a85874fb2c855","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Chambre clarence","topic":"lights","x":370,"y":627,"wires":[["dfbae81653a202a3"]]},{"id":"dfbae81653a202a3","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":627,"wires":[["53893545c80faa9c"],["6c095f07a50eac56"]]},{"id":"53893545c80faa9c","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":567,"wires":[[]]},{"id":"6c095f07a50eac56","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":687,"wires":[[]]},{"id":"ce41e092d83a6af3","type":"comment","z":"63ef5fda.dd974","name":"Lumière chambre clarence","info":"","x":370,"y":567,"wires":[]},{"id":"6944e02b39708ffe","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Chambre parents","topic":"lights","x":370,"y":827,"wires":[["805523517b61da81"]]},{"id":"805523517b61da81","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":827,"wires":[["b6426b5b52035654"],["32c19aab0de8b838"]]},{"id":"b6426b5b52035654","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":767,"wires":[[]]},{"id":"32c19aab0de8b838","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":887,"wires":[[]]},{"id":"dc1cc0082c05750c","type":"comment","z":"63ef5fda.dd974","name":"Lumière chambre parents","info":"","x":370,"y":747,"wires":[]},{"id":"9795ad3aaa87b5f4","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"garage","topic":"lights","x":340,"y":287,"wires":[["32bb595e1e1670ec"]]},{"id":"32bb595e1e1670ec","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":287,"wires":[["0447dd138dc2f62b"],["1d16e829474d24d0"]]},{"id":"ca872f255eb7b66b","type":"amazon-echo-device","z":"63ef5fda.dd974","name":"Portails","topic":"doors","x":320,"y":987,"wires":[["076eb03b6c81f56c"]]},{"id":"076eb03b6c81f56c","type":"switch","z":"63ef5fda.dd974","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":987,"wires":[["e2baaffe216f3de7"],["ed30840c080d979c"]]},{"id":"e2baaffe216f3de7","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails_ouvertures_des_portails_en_rentrant","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":947,"wires":[[]]},{"id":"ed30840c080d979c","type":"api-call-service","z":"63ef5fda.dd974","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1027,"wires":[[]]},{"id":"e56cadb49a16b404","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":870}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":870}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":870}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":750}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":750}},{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":1080}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":2,\"mod\":1080}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":1080}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":4,\"mod\":1080}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1080}}]","topic":"","name":"Agenda Chauffage - Buanderie","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":370,"y":620,"wires":[["e1c16cd17770f92b"]]},{"id":"e1c16cd17770f92b","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":580,"wires":[["5eb145a35684ef62"],["d58f6f0cba023446"]]},{"id":"1f403c21b0dbd761","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":500,"wires":[[]]},{"id":"a1e6d590eb564b66","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":620,"wires":[[]]},{"id":"e2e25e792ec57ee9","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":120,"wires":[[]]},{"id":"7e62bab351a4d77f","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":220,"wires":[[]]},{"id":"c7e4912d13fa2656","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsTvON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.prisetv_salon_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":90,"y":120,"wires":[["0947e93765d474ee"],[]]},{"id":"724675af46895029","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsComputerON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.onoff_bureau_salon_electric_consumed_w_3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"100","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":100,"y":180,"wires":[["0947e93765d474ee"],["09fa9e9e6330c028"]]},{"id":"0947e93765d474ee","type":"api-current-state","z":"7a831b6e2f802ee7","name":"IsPascalAtHome","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.oneplus_pascal","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"ON","valueType":"str"},{"property":"payload","propertyType":"msg","value":"OFF","valueType":"str"},{"property":"payload","propertyType":"msg","value":"true","valueType":"str"},{"property":"payload","propertyType":"msg","value":"false","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":160,"wires":[["ca6c39f2dbe54b06"],["09fa9e9e6330c028"]]},{"id":"8c4bc594f6e5fdaa","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsPascalAway","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.oneplus_pascal","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":90,"y":240,"wires":[["09fa9e9e6330c028"],[]]},{"id":"ca6c39f2dbe54b06","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanComfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_sam', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":730,"y":140,"wires":[["b0feea2905844de8","d9332f4136289114"]]},{"id":"09fa9e9e6330c028","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_sam', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":730,"y":220,"wires":[["632df98a95271648"]]},{"id":"5eb145a35684ef62","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":500,"wires":[["d63abc825ca1bc18"]]},{"id":"d58f6f0cba023446","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":640,"wires":[["4863a466606e7fea"]]},{"id":"d63abc825ca1bc18","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":500,"wires":[["1f403c21b0dbd761"],[]]},{"id":"4863a466606e7fea","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":620,"wires":[["a1e6d590eb564b66"],[]]},{"id":"392823b42515bb5c","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage buanderie","info":"","x":340,"y":500,"wires":[]},{"id":"98f74902da0bb149","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage SAM","info":"","x":400,"y":60,"wires":[]},{"id":"b0feea2905844de8","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":140,"wires":[["e2e25e792ec57ee9"],[]]},{"id":"632df98a95271648","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[["7e62bab351a4d77f"],[]]},{"id":"6231275e1cdc3f69","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneBuanderie","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_buanderie_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":100,"y":620,"wires":[["e56cadb49a16b404"],[]]},{"id":"1b306c90311a2df5","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":0,\"mod\":450},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":1110},\"end\":{\"dow\":1,\"mod\":1235}},{\"start\":{\"dow\":2,\"mod\":1110},\"end\":{\"dow\":2,\"mod\":1235}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1235}},{\"start\":{\"dow\":4,\"mod\":1110},\"end\":{\"dow\":4,\"mod\":1235}},{\"start\":{\"dow\":5,\"mod\":1110},\"end\":{\"dow\":5,\"mod\":1235}},{\"start\":{\"dow\":6,\"mod\":450},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":720},\"end\":{\"dow\":6,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":720},\"end\":{\"dow\":0,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":1110},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"Agenda Chauffage - Cuisie","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":360,"y":920,"wires":[["02ac3953042b1a59"]]},{"id":"02ac3953042b1a59","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":880,"wires":[["48eaba83bbab6c83"],["f25b29d086dc8928"]]},{"id":"04be2aebef9a1318","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":800,"wires":[[]]},{"id":"3d5e835a8e5b85fb","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine  - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":920,"wires":[[]]},{"id":"48eaba83bbab6c83","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":800,"wires":[["95e0dfedbb7a55ef"]]},{"id":"f25b29d086dc8928","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":940,"wires":[["2df0d708da8d8645"]]},{"id":"95e0dfedbb7a55ef","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":800,"wires":[["04be2aebef9a1318"],[]]},{"id":"2df0d708da8d8645","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":920,"wires":[["3d5e835a8e5b85fb"],[]]},{"id":"ddb906c06a881220","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage cuisine","info":"","x":350,"y":800,"wires":[]},{"id":"94b0faee32316e49","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneCuisine","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_cuisine_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":90,"y":920,"wires":[["1b306c90311a2df5"],[]]},{"id":"d9332f4136289114","type":"debug","z":"7a831b6e2f802ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":80,"wires":[]},{"id":"78cae640b0ed2b99","type":"server-state-changed","z":"2751f6a3a0a7649a","name":"Alarme HA","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.alarme_maison","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["d248d9b79a7ec1c0","2ad61e6cbb9096da"]]},{"id":"d248d9b79a7ec1c0","type":"debug","z":"2751f6a3a0a7649a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"2ad61e6cbb9096da","type":"switch","z":"2751f6a3a0a7649a","name":"Statuts alarme","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"arming","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"armed_night","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":500,"y":220,"wires":[[],[],[],[],[],[],[]]},{"id":"378479c211761b24","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Cuisine ","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_cuisine","entityId":"","data":"{\t    \"message\": \"Message.\"\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":160,"wires":[[]]},{"id":"782ae856ff708f05","type":"inject","z":"335bd89f27c73b7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["378479c211761b24"]]},{"id":"a72ceb1f25657c10","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Cuisine ","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alexa_notification_sam_variable","entityId":"","data":"{\t    \"message\": \"Message.\"\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":260,"wires":[[]]},{"id":"a2c946eba66eb203","type":"inject","z":"335bd89f27c73b7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["a72ceb1f25657c10"]]}]