node-red/flows.json
[{"id":"63ef5fda.dd974","type":"tab","label":"Lumière","disabled":false,"info":"","env":[]},{"id":"7a831b6e2f802ee7","type":"tab","label":"Chauffage","disabled":false,"info":"","env":[]},{"id":"7512dcc2.be07d4","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.243","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29cc3035.d7f7","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a5f60f435cd422f8","type":"light-scheduler-settings","name":"MaMaison","latitude":"47.218371","longitude":"-1.553621"},{"id":"43d85569dace75e0","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"5837179e.526928","type":"websocket-client","path":"ws://supervisor/core/api/websocket","tls":"","wholemsg":"false"},{"id":"3cc77e8f498a61f2","type":"server-state-changed","z":"63ef5fda.dd974","name":"IR Garage","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ir_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":960,"wires":[["0447dd138dc2f62b"],["a86315cf7f3fb738"]]},{"id":"0447dd138dc2f62b","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":820,"wires":[[]]},{"id":"a86315cf7f3fb738","type":"delay","z":"63ef5fda.dd974","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":470,"y":1040,"wires":[["1d16e829474d24d0"]]},{"id":"1d16e829474d24d0","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":1040,"wires":[[]]},{"id":"e56cadb49a16b404","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":2,\"mod\":375},\"end\":{\"dow\":2,\"mod\":1215}},{\"start\":{\"dow\":3,\"mod\":375},\"end\":{\"dow\":3,\"mod\":1215}},{\"start\":{\"dow\":4,\"mod\":375},\"end\":{\"dow\":4,\"mod\":1215}},{\"start\":{\"dow\":1,\"mod\":375},\"end\":{\"dow\":1,\"mod\":1215}},{\"start\":{\"dow\":5,\"mod\":375},\"end\":{\"dow\":5,\"mod\":1215}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":1215}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":1215}}]","topic":"","name":"Agenda Chauffage - Buanderie","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":170,"y":660,"wires":[["e1c16cd17770f92b"]]},{"id":"e1c16cd17770f92b","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":660,"wires":[["1f403c21b0dbd761","bc44f262d0a9871a"],["a1e6d590eb564b66"]]},{"id":"1f403c21b0dbd761","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":680,"wires":[[]]},{"id":"a1e6d590eb564b66","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":840,"wires":[["12eb4d1978b577b8"]]},{"id":"12eb4d1978b577b8","type":"debug","z":"7a831b6e2f802ee7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":760,"wires":[]},{"id":"5d366a3b26ac31d9","type":"trigger-state","z":"7a831b6e2f802ee7","name":"","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.oneplus_pascal","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":210,"y":220,"wires":[["bb97775393778722"],["bb97775393778722"]]},{"id":"e2e25e792ec57ee9","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":100,"wires":[[]]},{"id":"bb97775393778722","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":2,\"mod\":375},\"end\":{\"dow\":2,\"mod\":1215}},{\"start\":{\"dow\":3,\"mod\":375},\"end\":{\"dow\":3,\"mod\":1215}},{\"start\":{\"dow\":4,\"mod\":375},\"end\":{\"dow\":4,\"mod\":1215}},{\"start\":{\"dow\":1,\"mod\":375},\"end\":{\"dow\":1,\"mod\":1215}},{\"start\":{\"dow\":5,\"mod\":375},\"end\":{\"dow\":5,\"mod\":1215}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":1215}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":1215}}]","topic":"","name":"Agenda Chauffage - Buanderie","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"10","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":590,"y":200,"wires":[["16480849f6f31758"]]},{"id":"16480849f6f31758","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"allowed","vt":"str"},{"t":"eq","v":"blocked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":200,"wires":[["e2e25e792ec57ee9"],["7e62bab351a4d77f"]]},{"id":"7e62bab351a4d77f","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":200,"wires":[[]]},{"id":"bc44f262d0a9871a","type":"api-current-state","z":"7a831b6e2f802ee7","name":"","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.oneplus_pascal","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"ON","valueType":"str"},{"property":"payload","propertyType":"msg","value":"OFF","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":560,"wires":[["d52cba8f69ed3416","503d723eb24e1996"],["977736ec19936159"]]},{"id":"503d723eb24e1996","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":460,"wires":[[]]},{"id":"977736ec19936159","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":600,"wires":[[]]},{"id":"193029ab74ce8a8e","type":"trigger-state","z":"7a831b6e2f802ee7","name":"","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_buanderie_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":220,"y":500,"wires":[[],[]]},{"id":"d52cba8f69ed3416","type":"debug","z":"7a831b6e2f802ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":440,"wires":[]},{"id":"fb67c97f7263a51d","type":"api-current-state","z":"7a831b6e2f802ee7","name":"","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.onoff_bureau_salon_electric_consumed_kwh_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":300,"wires":[["528711e7f0b16b47"],[]]},{"id":"a7edba6229e5c92b","type":"api-current-state","z":"7a831b6e2f802ee7","name":"","server":"43d85569dace75e0","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ir_salon_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":360,"wires":[["fb67c97f7263a51d"],[]]},{"id":"528711e7f0b16b47","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":2,\"mod\":375},\"end\":{\"dow\":2,\"mod\":1215}},{\"start\":{\"dow\":3,\"mod\":375},\"end\":{\"dow\":3,\"mod\":1215}},{\"start\":{\"dow\":4,\"mod\":375},\"end\":{\"dow\":4,\"mod\":1215}},{\"start\":{\"dow\":1,\"mod\":375},\"end\":{\"dow\":1,\"mod\":1215}},{\"start\":{\"dow\":5,\"mod\":375},\"end\":{\"dow\":5,\"mod\":1215}},{\"start\":{\"dow\":6,\"mod\":480},\"end\":{\"dow\":6,\"mod\":1215}},{\"start\":{\"dow\":0,\"mod\":480},\"end\":{\"dow\":0,\"mod\":1215}}]","topic":"","name":"Agenda Chauffage","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"10","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":1270,"y":280,"wires":[[]]}]