node-red/flows.json
[{"id":"63ef5fda.dd974","type":"tab","label":"Lumière","disabled":false,"info":"","env":[]},{"id":"7a831b6e2f802ee7","type":"tab","label":"Chauffage","disabled":false,"info":"","env":[]},{"id":"2751f6a3a0a7649a","type":"tab","label":"Alarme","disabled":false,"info":"","env":[]},{"id":"96aba16699ebe8be","type":"tab","label":"Ballon Eau Chaude","disabled":false,"info":"","env":[]},{"id":"335bd89f27c73b7e","type":"tab","label":"Communications - Alexa - SMS - Telegram","disabled":false,"info":"","env":[]},{"id":"8ac4bc30b42b7a7d","type":"tab","label":"Notification - Coupure électrique","disabled":false,"info":"","env":[]},{"id":"d9ababc8eca2aa56","type":"tab","label":"Portails","disabled":false,"info":"","env":[]},{"id":"bd8aec8f1871271e","type":"tab","label":"Doorbird","disabled":false,"info":"","env":[]},{"id":"32a912a98d31efc0","type":"tab","label":"Alexa - Objets","disabled":false,"info":"","env":[]},{"id":"b094d7f93a062c25","type":"tab","label":"Auto-Reboot HA et add-on","disabled":false,"info":"ha addons list","env":[]},{"id":"b6bf4fb2.8e8618","type":"tab","label":"Téléinfo","disabled":false,"info":""},{"id":"ca87c975.6f38b","type":"tab","label":"Puissance instantanée","disabled":false,"info":""},{"id":"7512dcc2.be07d4","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.243","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29cc3035.d7f7","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a5f60f435cd422f8","type":"light-scheduler-settings","name":"MaMaison","latitude":"48.856614","longitude":"2.3522219"},{"id":"43d85569dace75e0","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"5837179e.526928","type":"websocket-client","path":"ws://supervisor/core/api/websocket","tls":"","wholemsg":"false"},{"id":"c4125295ecc90f0d","type":"doorbird-config","name":"Doorbird","host":"192.168.0.175","scheme":"https"},{"id":"da25d8286baff521","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"1200","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"580338f6.25a79","type":"mqtt-broker","name":"mosquitto","broker":"192.168.0.90","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3cc77e8f498a61f2","type":"server-state-changed","z":"63ef5fda.dd974","name":"IR Garage","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ir_garage_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":107,"wires":[["0447dd138dc2f62b"],["a86315cf7f3fb738"]]},{"id":"0447dd138dc2f62b","type":"api-call-service","z":"63ef5fda.dd974","name":"Lumière garage ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":107,"wires":[[]]},{"id":"a86315cf7f3fb738","type":"delay","z":"63ef5fda.dd974","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":220,"wires":[["5bc8f1d00b2809f3"]]},{"id":"b6a6cdf2e837a57c","type":"comment","z":"63ef5fda.dd974","name":"Lumière garage","info":"","x":360,"y":47,"wires":[]},{"id":"1f7c2ac821d4a422","type":"link in","z":"63ef5fda.dd974","name":"LumièreGarage","links":["9909e41fa72aad88"],"x":535,"y":140,"wires":[["0447dd138dc2f62b"]]},{"id":"5bc8f1d00b2809f3","type":"link out","z":"63ef5fda.dd974","name":"versLumièreGarageOFF","mode":"link","links":["b504a0cc4c01fe52"],"x":495,"y":220,"wires":[]},{"id":"e56cadb49a16b404","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":3,\"mod\":450},\"end\":{\"dow\":3,\"mod\":870}},{\"start\":{\"dow\":4,\"mod\":450},\"end\":{\"dow\":4,\"mod\":870}},{\"start\":{\"dow\":5,\"mod\":450},\"end\":{\"dow\":5,\"mod\":870}},{\"start\":{\"dow\":6,\"mod\":600},\"end\":{\"dow\":6,\"mod\":750}},{\"start\":{\"dow\":0,\"mod\":600},\"end\":{\"dow\":0,\"mod\":750}},{\"start\":{\"dow\":2,\"mod\":450},\"end\":{\"dow\":2,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":450},\"end\":{\"dow\":1,\"mod\":870}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":1,\"mod\":1080}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":2,\"mod\":1080}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":3,\"mod\":1080}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":4,\"mod\":1080}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1080}}]","topic":"","name":"Agenda - Buanderie","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":320,"y":560,"wires":[["2707a919a17ecd57"]]},{"id":"e1c16cd17770f92b","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":580,"wires":[["5eb145a35684ef62"],["d58f6f0cba023446"]]},{"id":"1f403c21b0dbd761","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":500,"wires":[[]]},{"id":"a1e6d590eb564b66","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_buanderie","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":620,"wires":[[]]},{"id":"e2e25e792ec57ee9","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1670,"y":140,"wires":[[]]},{"id":"7e62bab351a4d77f","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Sam - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_sam","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":280,"wires":[[]]},{"id":"09fa9e9e6330c028","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_sam', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1110,"y":260,"wires":[["6fa13ac6619cef84"]],"outputLabels":["true"]},{"id":"5eb145a35684ef62","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":500,"wires":[["d63abc825ca1bc18"]]},{"id":"d58f6f0cba023446","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_buanderie', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":640,"wires":[["4863a466606e7fea"]]},{"id":"d63abc825ca1bc18","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":500,"wires":[["1f403c21b0dbd761","b9a81c969f8f9313"],[]]},{"id":"4863a466606e7fea","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":620,"wires":[["a1e6d590eb564b66","81796c127411ce7f"],[]]},{"id":"392823b42515bb5c","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage buanderie","info":"","x":340,"y":500,"wires":[]},{"id":"98f74902da0bb149","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage SAM","info":"","x":400,"y":60,"wires":[]},{"id":"6231275e1cdc3f69","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneBuanderie","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_buanderie_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":100,"y":620,"wires":[["e56cadb49a16b404"],[]]},{"id":"1b306c90311a2df5","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":0,\"mod\":450},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":1110},\"end\":{\"dow\":1,\"mod\":1235}},{\"start\":{\"dow\":2,\"mod\":1110},\"end\":{\"dow\":2,\"mod\":1235}},{\"start\":{\"dow\":3,\"mod\":1110},\"end\":{\"dow\":3,\"mod\":1235}},{\"start\":{\"dow\":4,\"mod\":1110},\"end\":{\"dow\":4,\"mod\":1235}},{\"start\":{\"dow\":5,\"mod\":1110},\"end\":{\"dow\":5,\"mod\":1235}},{\"start\":{\"dow\":6,\"mod\":450},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":720},\"end\":{\"dow\":6,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":720},\"end\":{\"dow\":0,\"mod\":810}},{\"start\":{\"dow\":0,\"mod\":1110},\"end\":{\"dow\":0,\"mod\":1230}}]","topic":"","name":"Chauffage - Cuisine","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":320,"y":900,"wires":[["02ac3953042b1a59","7985a0e30d29d5f6"]]},{"id":"02ac3953042b1a59","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":880,"wires":[["48eaba83bbab6c83"],["f25b29d086dc8928"]]},{"id":"04be2aebef9a1318","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":800,"wires":[[]]},{"id":"3d5e835a8e5b85fb","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Cuisine  - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_cuisine","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":920,"wires":[[]]},{"id":"48eaba83bbab6c83","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":800,"wires":[["95e0dfedbb7a55ef"]]},{"id":"f25b29d086dc8928","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_cuisine', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":940,"wires":[["2df0d708da8d8645"]]},{"id":"95e0dfedbb7a55ef","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":800,"wires":[["04be2aebef9a1318","3f957b21082c0c77"],[]]},{"id":"2df0d708da8d8645","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":920,"wires":[["3d5e835a8e5b85fb","67b4f79b53b07da1"],[]]},{"id":"ddb906c06a881220","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage cuisine","info":"","x":350,"y":800,"wires":[]},{"id":"94b0faee32316e49","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsSomeOneCuisine","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.ir_cuisine_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":90,"y":920,"wires":[["1b306c90311a2df5"],[]]},{"id":"b9a81c969f8f9313","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la buanderie en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":440,"wires":[["cc4b322392797d03"]]},{"id":"cc4b322392797d03","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1460,"y":440,"wires":[],"l":true},{"id":"81796c127411ce7f","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la buanderie en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":580,"wires":[["808fc3d6f770457e"]]},{"id":"808fc3d6f770457e","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1450,"y":580,"wires":[],"l":true},{"id":"3f957b21082c0c77","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la cuisine en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":740,"wires":[["c46c39c6a03e868d"]]},{"id":"c46c39c6a03e868d","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1380,"y":740,"wires":[],"l":true},{"id":"67b4f79b53b07da1","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la cuisine en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":880,"wires":[["5f2f4b2a804ffa16"]]},{"id":"5f2f4b2a804ffa16","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1430,"y":880,"wires":[],"l":true},{"id":"c147033a1177be52","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur de la salle à manger en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":60,"wires":[["17706589d3767fc3"]]},{"id":"17706589d3767fc3","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["a7ddbf0dfd2c325b","ced87f2e5d5c0601","f550e12c1257457e"],"x":1930,"y":60,"wires":[],"l":true},{"id":"8cf4d55a994326fc","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur de la salle à manger en mode éco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":220,"wires":[["2f41dcd9008a319c"]]},{"id":"2f41dcd9008a319c","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["ced87f2e5d5c0601"],"x":1730,"y":220,"wires":[],"l":true},{"id":"a511472a5825e220","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsComputerON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.onoff_bureau_salon_electric_consumed_w_3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">","comparatorValueDatatype":"str","comparatorValue":"100","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":">","comparatorValue":"20","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"<","comparatorValue":"20","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":100,"y":80,"wires":[[],[],["8f78ee4ff864110d"],["8f78ee4ff864110d"]]},{"id":"12ad5ddea51bf71f","type":"trigger-state","z":"7a831b6e2f802ee7","name":"IsTvON","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.prise_tv_salon_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">","comparatorValueDatatype":"str","comparatorValue":"50","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":">","comparatorValue":"50","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"0","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":130,"y":180,"wires":[[],[],["8f78ee4ff864110d"],["8f78ee4ff864110d"]]},{"id":"6fa13ac6619cef84","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":260,"wires":[["8cf4d55a994326fc","7e62bab351a4d77f"],[]]},{"id":"9b9514f722cac95f","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsPascalHome","server":"43d85569dace75e0","version":0,"template":"{{ states.device_tracker.oneplus_pascal.state  == 'home' }}\n","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":380,"y":180,"wires":[["b03f644b702464b0"]]},{"id":"2221c334c36e5544","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":120,"wires":[["83b0b7b2533d3339"],["09fa9e9e6330c028"]]},{"id":"b03f644b702464b0","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"isHome and TV or Ordi ?","operation":"AND","inputCount":"1","topic":"result","x":660,"y":120,"wires":[["2221c334c36e5544"]]},{"id":"8f78ee4ff864110d","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"TV ou Ordi ON ?","operation":"OR","inputCount":"1","topic":"result","x":370,"y":120,"wires":[["b03f644b702464b0"]],"inputLabels":["allowed"],"outputLabels":["true"]},{"id":"83b0b7b2533d3339","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanComfort","server":"43d85569dace75e0","version":0,"template":"{{true if states('sensor.prise_poele_electric_w') |int < 10 and state_attr('climate.radiateur_sam', 'preset_mode') != 'comfort' }}\n{{false if states('sensor.prise_poele_electric_w') |int > 10 or state_attr('climate.radiateur_sam', 'preset_mode') != 'eco' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1130,"y":120,"wires":[["039b9dc1e8368205"]],"outputLabels":["true"]},{"id":"039b9dc1e8368205","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":120,"wires":[["c147033a1177be52","e2e25e792ec57ee9"],[]]},{"id":"39cc21d6da081a70","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage chambre Eloise","info":"","x":390,"y":1160,"wires":[]},{"id":"fcf038f4487aed9a","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1300,"wires":[["248a0861f6b75066"],["15cfbaa0fef73c35"]]},{"id":"f81b9394463377de","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_ch_jardin","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1220,"wires":[[]]},{"id":"58be7f5c0669a6f2","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur Buanderie - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_ch_jardin","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":1360,"wires":[[]]},{"id":"248a0861f6b75066","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_ch_jardin', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":800,"y":1220,"wires":[["3ef55b2d1300619a"]]},{"id":"15cfbaa0fef73c35","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_ch_jardin', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":790,"y":1360,"wires":[["06b57d075ebce306"]]},{"id":"3ef55b2d1300619a","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1220,"wires":[["f81b9394463377de","bcbb757740ac1121"],[]]},{"id":"06b57d075ebce306","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":1340,"wires":[["58be7f5c0669a6f2","f41e7cedf17af631"],[]]},{"id":"bcbb757740ac1121","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur chambre eloise en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1160,"wires":[["7bd4578970e08cb8"]]},{"id":"7bd4578970e08cb8","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1480,"y":1160,"wires":[],"l":true},{"id":"f41e7cedf17af631","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur chambre eloise en mode eco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":1300,"wires":[["7892c444cc4ff6b2"]]},{"id":"7892c444cc4ff6b2","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1470,"y":1300,"wires":[],"l":true},{"id":"2707a919a17ecd57","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"1","topic":"result","x":500,"y":580,"wires":[["e1c16cd17770f92b"]]},{"id":"5c6cb5fa5aa054ca","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsTemp < 18","server":"43d85569dace75e0","version":0,"template":"{{ states.sensor.temp_buanderie_bt_temperature.state |int < 18}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":310,"y":660,"wires":[["2707a919a17ecd57"]]},{"id":"7985a0e30d29d5f6","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"1","topic":"result","x":500,"y":940,"wires":[["02ac3953042b1a59"]]},{"id":"31ba8a6d31840263","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsTemp < 18","server":"43d85569dace75e0","version":0,"template":"{{ states.sensor.ir_cuisine_temperature.state |int < 23}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":310,"y":980,"wires":[["7985a0e30d29d5f6"]]},{"id":"bb8a1c5d70bf6b65","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"2","topic":"result","x":300,"y":1300,"wires":[["ad2377a53d1f169e"]]},{"id":"4f5c064b51a168d6","type":"trigger-state","z":"7a831b6e2f802ee7","name":"temp ch jardin","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.temp_chjardin_bt_temperature_3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"18","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"<=","comparatorValue":"18","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":">","comparatorValue":"19","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":110,"y":1240,"wires":[[],[],["bb8a1c5d70bf6b65"],["bb8a1c5d70bf6b65"]]},{"id":"1c378d543df47402","type":"trigger-state","z":"7a831b6e2f802ee7","name":"Is Eloise home","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.zuk_z1_eloise","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"home","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"away","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":120,"y":1340,"wires":[[],[],["bb8a1c5d70bf6b65"],["bb8a1c5d70bf6b65"]]},{"id":"1a7075d20b0c4ce0","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[{\"start\":{\"dow\":1,\"mod\":480},\"end\":{\"dow\":1,\"mod\":750}},{\"start\":{\"dow\":2,\"mod\":480},\"end\":{\"dow\":2,\"mod\":750}},{\"start\":{\"dow\":3,\"mod\":480},\"end\":{\"dow\":3,\"mod\":750}},{\"start\":{\"dow\":4,\"mod\":480},\"end\":{\"dow\":4,\"mod\":750}},{\"start\":{\"dow\":5,\"mod\":480},\"end\":{\"dow\":5,\"mod\":750}},{\"start\":{\"dow\":6,\"mod\":600},\"end\":{\"dow\":6,\"mod\":750}},{\"start\":{\"dow\":0,\"mod\":600},\"end\":{\"dow\":0,\"mod\":750}},{\"start\":{\"dow\":1,\"mod\":840},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":840},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":3,\"mod\":840},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":840},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":840},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":840},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":840},\"end\":{\"dow\":0,\"mod\":1320}}]","topic":"","name":"Jour/nuit","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":300,"y":1380,"wires":[["ad2377a53d1f169e"]]},{"id":"ad2377a53d1f169e","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"2","topic":"result","x":460,"y":1300,"wires":[["fcf038f4487aed9a"]]},{"id":"2c0dac6784c5c517","type":"comment","z":"7a831b6e2f802ee7","name":"Chauffage chambre parents","info":"","x":380,"y":1540,"wires":[]},{"id":"eae980c20a53e796","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1680,"wires":[["eb6442e395457d3f"],["ab843ab40f3c73a3"]]},{"id":"6e00c75adaa860a9","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur parents - Confort","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_ch_parents","data":"{\"preset_mode\":\"comfort\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":1600,"wires":[[]]},{"id":"4f2062d5191b0287","type":"api-call-service","z":"7a831b6e2f802ee7","name":"Radiateur parents - eco","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.radiateur_ch_parents","data":"{\"preset_mode\":\"eco\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1740,"wires":[[]]},{"id":"eb6442e395457d3f","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanConfort","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_ch_parents', 'preset_mode') != 'comfort'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":780,"y":1600,"wires":[["c791bc6abe6c79ca"]]},{"id":"ab843ab40f3c73a3","type":"api-render-template","z":"7a831b6e2f802ee7","name":"IsOnOtherPresetThanEco","server":"43d85569dace75e0","version":0,"template":"{{state_attr('climate.radiateur_ch_parents', 'preset_mode') != 'eco'}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":770,"y":1740,"wires":[["e9fedf3cb2a3d342"]]},{"id":"c791bc6abe6c79ca","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1600,"wires":[["6e00c75adaa860a9","b1522de11672435f"],[]]},{"id":"e9fedf3cb2a3d342","type":"switch","z":"7a831b6e2f802ee7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1720,"wires":[["4f2062d5191b0287","e2fdf53f94de98fe"],[]]},{"id":"b1522de11672435f","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode confort","func":"msg.payload =\n\n\"Passage du radiateur chambre parents en mode confort\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":1540,"wires":[["f37e4d23d6b44aaa"]]},{"id":"f37e4d23d6b44aaa","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1460,"y":1540,"wires":[],"l":true},{"id":"e2fdf53f94de98fe","type":"function","z":"7a831b6e2f802ee7","name":"Notification - mode eco","func":"msg.payload =\n\n\"Passage du radiateur chambre parents en mode eco\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1680,"wires":[["6b3cc193f1f04e48"]]},{"id":"6b3cc193f1f04e48","type":"link out","z":"7a831b6e2f802ee7","name":"VersEchos","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1450,"y":1680,"wires":[],"l":true},{"id":"2fa6f2c6f37033ee","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"1","topic":"result","x":280,"y":1680,"wires":[["c9642b34387530a3"]]},{"id":"06f8848ecabeb0c1","type":"trigger-state","z":"7a831b6e2f802ee7","name":"temp ch parents","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.temp_chparents_bt_temperature_3","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"18","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"<=","comparatorValue":"18","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":">","comparatorValue":"19","comparatorValueDataType":"num","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":100,"y":1620,"wires":[[],[],["2fa6f2c6f37033ee"],["2fa6f2c6f37033ee"]]},{"id":"b0508de3aabdc9ac","type":"trigger-state","z":"7a831b6e2f802ee7","name":"Is Eloise home","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.zuk_z1_eloise","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"true","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"home","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"false","messageValueType":"bool","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"away","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","enableInput":false,"x":100,"y":1720,"wires":[[],[],["2fa6f2c6f37033ee"],["2fa6f2c6f37033ee"]]},{"id":"1f6c96ca310af78b","type":"light-scheduler","z":"7a831b6e2f802ee7","settings":"a5f60f435cd422f8","events":"[]","topic":"","name":"Jour/nuit","onPayload":"true","onPayloadType":"str","offPayload":"false","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":280,"y":1760,"wires":[["c9642b34387530a3"]]},{"id":"c9642b34387530a3","type":"BooleanLogic","z":"7a831b6e2f802ee7","name":"","operation":"AND","inputCount":"2","topic":"result","x":440,"y":1680,"wires":[["eae980c20a53e796"]]},{"id":"8f42ded9ac259d65","type":"inject","z":"7a831b6e2f802ee7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":950,"y":420,"wires":[["b9a81c969f8f9313"]]},{"id":"78cae640b0ed2b99","type":"server-state-changed","z":"2751f6a3a0a7649a","name":"Alarme HA","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.alarme_maison","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["d248d9b79a7ec1c0","2ad61e6cbb9096da"]]},{"id":"d248d9b79a7ec1c0","type":"debug","z":"2751f6a3a0a7649a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"2ad61e6cbb9096da","type":"switch","z":"2751f6a3a0a7649a","name":"Statuts alarme","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"arming","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"armed_night","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"triggered","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":340,"y":260,"wires":[["8f3551f12fb011f4","34ac921fd026e4bc"],["192d7d5c3db58b77","34ac921fd026e4bc"],["2eb71b71a5827f45","34ac921fd026e4bc"],["2eb71b71a5827f45","34ac921fd026e4bc"],["192e9b1d90455377"],["e9d0ba7fd412237b","34ac921fd026e4bc"],["29a8ac0256bc867e","34ac921fd026e4bc"]]},{"id":"1c62624d970e0122","type":"function","z":"2751f6a3a0a7649a","name":"Activation de l'alarme","func":"msg.payload =\n\n\"60 secondes avant activation de l'alarme\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":100,"wires":[["c858a79d18d17e42"]]},{"id":"c858a79d18d17e42","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1320,"y":220,"wires":[],"l":true},{"id":"0e0e9f01537a464c","type":"inject","z":"2751f6a3a0a7649a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":80,"wires":[["1c62624d970e0122"]]},{"id":"51c599bf94a790a1","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme nuit","func":"msg.payload =\n\n\"Désactivation de l'alarme en mode nuit\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":540,"wires":[["844126695f1020be"]]},{"id":"e1695473f4f5eed7","type":"function","z":"2751f6a3a0a7649a","name":"Alarme activée - Totale","func":"msg.payload =\n\n\"Alarme activée en mode totale\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":240,"wires":[["c858a79d18d17e42"]]},{"id":"0947ee6869defae6","type":"function","z":"2751f6a3a0a7649a","name":"Alarme activée - nuit","func":"msg.payload =\n\n\"Alarme en mode nuit activée\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":280,"wires":[["c2a0c5b8ddc1f615"]]},{"id":"c2a0c5b8ddc1f615","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - ECHO","mode":"link","links":["34dd5813f28f2a42"],"x":1270,"y":260,"wires":[],"l":true},{"id":"e9d0ba7fd412237b","type":"function","z":"2751f6a3a0a7649a","name":"Rappel désactivation alarme","func":"msg.payload =\n\n\"Veuillez désactiver l'alarme!\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["c858a79d18d17e42"]]},{"id":"673cea63e6db801d","type":"switch","z":"2751f6a3a0a7649a","name":"Etat précédent ?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"armed_away","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"armed_night","vt":"str"},{"t":"eq","v":"disarmed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":720,"y":540,"wires":[["3a7582ba1370d1f2","59120d316859a466"],["3a7582ba1370d1f2","59120d316859a466","95a61b79df5b70fb"],["51c599bf94a790a1","59120d316859a466"],["7bf7f43e48d0d8ce"],["7bf7f43e48d0d8ce","59120d316859a466","95a61b79df5b70fb"]]},{"id":"3a7582ba1370d1f2","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme Totale","func":"msg.payload =\n\n\"Désactivation de l'alarme en mode totale\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":500,"wires":[["c858a79d18d17e42"]]},{"id":"7bf7f43e48d0d8ce","type":"function","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme","func":"msg.payload =\n\n\"Alarme désactivée \"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["844126695f1020be"]]},{"id":"844126695f1020be","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram","mode":"link","links":["a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1360,"y":600,"wires":[],"l":true},{"id":"17259af75856254d","type":"link out","z":"2751f6a3a0a7649a","name":"VersEtatPrécedent","mode":"link","links":["63f0cbdfdcf05dca"],"x":830,"y":200,"wires":[],"l":true},{"id":"63f0cbdfdcf05dca","type":"link in","z":"2751f6a3a0a7649a","name":"EtatPrecedent","links":["17259af75856254d"],"x":530,"y":540,"wires":[["673cea63e6db801d"]],"l":true},{"id":"192d7d5c3db58b77","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script Allumer appareils","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"allumer_des_appareils_quand_alarme_eteinte","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":200,"wires":[["17259af75856254d"]]},{"id":"2eb71b71a5827f45","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script eteindre appareils - Totale","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alarme_eteindre_des_appareils_en_mode_totale","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":240,"wires":[["e1695473f4f5eed7"]]},{"id":"192e9b1d90455377","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script eteindre appareils - Nuit","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"eteindre_des_appareils_pour_la_nuit","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":280,"wires":[["0947ee6869defae6"]]},{"id":"29a8ac0256bc867e","type":"link out","z":"2751f6a3a0a7649a","name":"VersDéclenchemenAlarme","mode":"link","links":["a66e966f7f5e94ff"],"x":630,"y":400,"wires":[],"l":true},{"id":"a66e966f7f5e94ff","type":"link in","z":"2751f6a3a0a7649a","name":"DéclenchementAlarme","links":["29a8ac0256bc867e"],"x":540,"y":780,"wires":[["174f734c3abae27b"]],"l":true},{"id":"aed35cdfa33f2884","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Entree - ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sirene_entree_switch_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":800,"wires":[[]]},{"id":"174f734c3abae27b","type":"switch","z":"2751f6a3a0a7649a","name":"Etat précédent ?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"armed_night","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":780,"wires":[["caccd1bf551632db","e3dd133cf84acdf4"],["aed35cdfa33f2884","caccd1bf551632db","29bda6cb1588516b"]]},{"id":"caccd1bf551632db","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Garage - ON","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sirene_garage_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":740,"wires":[[]]},{"id":"85cd51a497b8d3eb","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1240,"y":680,"wires":[],"l":true},{"id":"21d3b514b2df5ab9","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","f550e12c1257457e"],"x":1240,"y":880,"wires":[],"l":true},{"id":"e3dd133cf84acdf4","type":"function","z":"2751f6a3a0a7649a","name":"Intrusion détectée","func":"msg.payload =\n\n\"Attention!!! intrusion détectée \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.alarme_nuit_detecteurs','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":680,"wires":[["85cd51a497b8d3eb"]]},{"id":"29bda6cb1588516b","type":"function","z":"2751f6a3a0a7649a","name":"Intrusion détectée","func":"msg.payload =\n\n\"Attention!!! intrusion détectée \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.alarme_nuit_detecteurs','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":880,"wires":[["21d3b514b2df5ab9"]]},{"id":"bc6c28060037d161","type":"comment","z":"2751f6a3a0a7649a","name":"Déclenchement de l'alarme","info":"","x":570,"y":700,"wires":[]},{"id":"910533b15066023c","type":"comment","z":"2751f6a3a0a7649a","name":"Désactivation de l'alarme","info":"","x":570,"y":480,"wires":[]},{"id":"59120d316859a466","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Garage - OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sirene_garage_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":460,"wires":[[]]},{"id":"95a61b79df5b70fb","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Sirene Entree - OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sirene_entree_switch_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":400,"wires":[[]]},{"id":"8f3551f12fb011f4","type":"api-call-service","z":"2751f6a3a0a7649a","name":"Script Fermeture des volets","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alarme_fermeture_des_volets","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":140,"wires":[["1c62624d970e0122"]]},{"id":"34ac921fd026e4bc","type":"debug","z":"2751f6a3a0a7649a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":600,"wires":[]},{"id":"a263eed10af9a065","type":"comment","z":"2751f6a3a0a7649a","name":"Alarme maison","info":"","x":150,"y":60,"wires":[]},{"id":"74c744ec9caa556e","type":"comment","z":"2751f6a3a0a7649a","name":"Alarme incendie","info":"","x":150,"y":940,"wires":[]},{"id":"f970b39965d85d45","type":"trigger-state","z":"2751f6a3a0a7649a","name":"","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.detecteurs_incendie","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":210,"y":1060,"wires":[["3cf4a2ae07ef6af7"],[]]},{"id":"3cf4a2ae07ef6af7","type":"function","z":"2751f6a3a0a7649a","name":"Incendie détectée","func":"msg.payload =\n\n\"Attention!!! Alerte incendie sur \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.detecteurs_incendie','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1040,"wires":[["3fcaeebeabb9988c"]]},{"id":"3fcaeebeabb9988c","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","e8df3e37b83f6011","f550e12c1257457e"],"x":840,"y":1040,"wires":[],"l":true},{"id":"c7ca925adf6d6a85","type":"comment","z":"2751f6a3a0a7649a","name":"Alarme incendie","info":"","x":140,"y":1240,"wires":[]},{"id":"7d0ca8a967f452f8","type":"trigger-state","z":"2751f6a3a0a7649a","name":"","server":"43d85569dace75e0","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.detecteurs_inondation","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":210,"y":1360,"wires":[["68d87bb68294cbaa"],[]]},{"id":"68d87bb68294cbaa","type":"function","z":"2751f6a3a0a7649a","name":"innondation détectée","func":"msg.payload =\n\n\"Attention!!! Alerte innondation sur \"+\n\"{% for state in states|selectattr('entity_id','in',state_attr('group.detecteurs_inondation','entity_id'))|selectattr('state','eq','on')|list %}{{state.name+', '}}{%- endfor %}\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1340,"wires":[["e2d4d5c6e5d82874"]]},{"id":"e2d4d5c6e5d82874","type":"link out","z":"2751f6a3a0a7649a","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["22186f7a74fec36f","34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","ced87f2e5d5c0601","d1dc7f1a2fa6359d","e8df3e37b83f6011","f550e12c1257457e"],"x":830,"y":1340,"wires":[],"l":true},{"id":"e003e767c35951b4","type":"api-render-template","z":"96aba16699ebe8be","name":"Temp ballon < 42","server":"43d85569dace75e0","version":0,"template":"{{ states.sensor.temperature_ballon_eau_chaude.state | float < 42 }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":750,"y":160,"wires":[["c497da57748a9f9a"]]},{"id":"8e9ec192cb17c671","type":"api-call-service","z":"96aba16699ebe8be","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.onoff_ballon_eau_chaude_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":300,"wires":[["a0f0d77c949b2bfc"]]},{"id":"ca202181e66ef8e2","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode du matin - ON","lat":"47.0942","lon":"1.6124","startTime":"03:30","endTime":"05:00","startOffset":0,"endOffset":0,"x":330,"y":200,"wires":[["e003e767c35951b4"],["f0dc0a7e77db0249"]]},{"id":"03d82b2ef5b2ea26","type":"server-state-changed","z":"96aba16699ebe8be","name":"Temp <= 45","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.temperature_ballon_eau_chaude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"45","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":280,"wires":[["ca202181e66ef8e2"],[]]},{"id":"f0dc0a7e77db0249","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode de l'après midi - ON","lat":"47.0942","lon":"1.6124","startTime":"16:30","endTime":"19:30","startOffset":0,"endOffset":0,"x":650,"y":240,"wires":[["e003e767c35951b4"],[]]},{"id":"74548d4e3b1383e2","type":"api-call-service","z":"96aba16699ebe8be","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.onoff_ballon_eau_chaude_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":160,"wires":[["1331ef0576414a70"]]},{"id":"7e4844206e3e90de","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode du matin - OFF","lat":"47.0942","lon":"1.6124","startTime":"05:15","endTime":"08:00","startOffset":0,"endOffset":0,"x":390,"y":360,"wires":[["d3c7bf69ce3428eb"],["30d71d67c6e0b768"]]},{"id":"30d71d67c6e0b768","type":"time-range-switch","z":"96aba16699ebe8be","name":"Dans la periode de l'après midi - OFF","lat":"47.0942","lon":"1.6124","startTime":"18:30","endTime":"20:00","startOffset":0,"endOffset":0,"x":750,"y":380,"wires":[["d3c7bf69ce3428eb"],[]]},{"id":"1331ef0576414a70","type":"function","z":"96aba16699ebe8be","name":"Notification ballon eau chaude - Mise en marche","func":"msg.payload =\n\n\"Mise en marche du ballon eau chaude!\"+\n\n\n\"La température de l'eau est de \"+ \n\"{{states('sensor.temperature_ballon_eau_chaude') }}\"+\n\"degrées\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":160,"wires":[["8cb1b630a05f37fb"]]},{"id":"8cb1b630a05f37fb","type":"link out","z":"96aba16699ebe8be","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1730,"y":160,"wires":[],"l":true},{"id":"a0f0d77c949b2bfc","type":"function","z":"96aba16699ebe8be","name":"Notification ballon eau chaude - Arrêt","func":"msg.payload =\n\n\"Arrêt du ballon eau chaude!\"+\n\n\n\"La température de l'eau est de \"+ \n\"{{states('sensor.temperature_ballon_eau_chaude') }}\"+\n\"degrées\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":300,"wires":[["8a2c9324ee6ed2b2"]]},{"id":"8a2c9324ee6ed2b2","type":"link out","z":"96aba16699ebe8be","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1770,"y":260,"wires":[],"l":true},{"id":"672fc88d346d23b7","type":"comment","z":"96aba16699ebe8be","name":"Ballon Eau Chaude","info":"","x":370,"y":120,"wires":[]},{"id":"d3c7bf69ce3428eb","type":"api-current-state","z":"96aba16699ebe8be","name":"IsBallonOn","server":"43d85569dace75e0","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.onoff_ballon_eau_chaude_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":970,"y":300,"wires":[["8e9ec192cb17c671"],[]]},{"id":"0840955ef3add1b5","type":"server-state-changed","z":"96aba16699ebe8be","name":"Temp > 55","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.temperature_ballon_eau_chaude","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"55","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":360,"wires":[["7e4844206e3e90de"],[]]},{"id":"c497da57748a9f9a","type":"api-current-state","z":"96aba16699ebe8be","name":"IsBallonOff","server":"43d85569dace75e0","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.onoff_ballon_eau_chaude_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":160,"wires":[["74548d4e3b1383e2"],[]]},{"id":"378479c211761b24","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Cuisine ","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_cuisine","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":80,"wires":[["550cd211c55576d0"]]},{"id":"a72ceb1f25657c10","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa SAM","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"alexa_notification_sam_variable","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":180,"wires":[[]]},{"id":"a2c946eba66eb203","type":"inject","z":"335bd89f27c73b7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["93d5ef698a73d77a"]]},{"id":"93d5ef698a73d77a","type":"function","z":"335bd89f27c73b7e","name":"","func":"msg.payload =\n\n\"test de message\"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["e4f264c083d0b3f9","1b82cf59a11925c4"]]},{"id":"34dd5813f28f2a42","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoCuisine","links":["c858a79d18d17e42","8edc6d7303c2db5d","c2a0c5b8ddc1f615","85cd51a497b8d3eb","21d3b514b2df5ab9","cc4b322392797d03","808fc3d6f770457e","c46c39c6a03e868d","5f2f4b2a804ffa16","a6a57d0ecd2dfa3b","b9e9713fda5bce12","3785c846db38725f","5430e8d9f63ec903","a204df79d980c106","8cb1b630a05f37fb","8a2c9324ee6ed2b2","07eb6ece469c79da","7dc79138d067c52c","5a3d78a114021e01","3fcaeebeabb9988c","e2d4d5c6e5d82874","474620c26f182f77","477d585d0c37ac25"],"x":180,"y":140,"wires":[["378479c211761b24","550cd211c55576d0"]],"l":true},{"id":"ced87f2e5d5c0601","type":"link in","z":"335bd89f27c73b7e","name":"VersEcoSAM","links":["cc4b322392797d03","808fc3d6f770457e","c46c39c6a03e868d","5f2f4b2a804ffa16","a6a57d0ecd2dfa3b","17706589d3767fc3","2f41dcd9008a319c","b9e9713fda5bce12","3785c846db38725f","5430e8d9f63ec903","a204df79d980c106","8cb1b630a05f37fb","8a2c9324ee6ed2b2","07eb6ece469c79da","7dc79138d067c52c","5a3d78a114021e01","e2d4d5c6e5d82874","474620c26f182f77","477d585d0c37ac25"],"x":170,"y":220,"wires":[["a72ceb1f25657c10"]],"l":true},{"id":"7171a791fb43faa8","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Clarence","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_clarence","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":280,"wires":[[]]},{"id":"85ce76ed49a3c796","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Alexa Eloise","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_alexa_eloise","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":360,"wires":[[]]},{"id":"d1dc7f1a2fa6359d","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoClarence","links":["e2d4d5c6e5d82874"],"x":190,"y":300,"wires":[["7171a791fb43faa8"]],"l":true},{"id":"e8df3e37b83f6011","type":"link in","z":"335bd89f27c73b7e","name":"VersEchoEloise","links":["3fcaeebeabb9988c","e2d4d5c6e5d82874"],"x":180,"y":380,"wires":[["85ce76ed49a3c796"]],"l":true},{"id":"e4f264c083d0b3f9","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Telegram - Pascal","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"telegram_notification_pascal","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":120,"wires":[[]]},{"id":"5a5120b14be45708","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  Telegram - Stéphanie","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"telegram_notification_stephanie","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":220,"wires":[[]]},{"id":"a7ddbf0dfd2c325b","type":"link in","z":"335bd89f27c73b7e","name":"VersTelegramPascal","links":["c858a79d18d17e42","8edc6d7303c2db5d","844126695f1020be","85cd51a497b8d3eb","21d3b514b2df5ab9","07eb6ece469c79da","7dc79138d067c52c","17706589d3767fc3","7bd4578970e08cb8","7892c444cc4ff6b2","f37e4d23d6b44aaa","6b3cc193f1f04e48","3fcaeebeabb9988c","e2d4d5c6e5d82874","f5e044a4166e34af","3838e32361eaade2","5367c0af079bcc54","8fa2afd67118af9a","477d585d0c37ac25"],"x":910,"y":140,"wires":[["e4f264c083d0b3f9"]],"l":true},{"id":"f550e12c1257457e","type":"link in","z":"335bd89f27c73b7e","name":"VersTelegramStephanie","links":["c858a79d18d17e42","8edc6d7303c2db5d","844126695f1020be","85cd51a497b8d3eb","21d3b514b2df5ab9","17706589d3767fc3","3fcaeebeabb9988c","e2d4d5c6e5d82874"],"x":920,"y":240,"wires":[["5a5120b14be45708"]],"l":true},{"id":"0197bc6249b93a5a","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Stéphanie","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_stephanie_duplicate","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":620,"wires":[[]]},{"id":"1b82cf59a11925c4","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Pascal","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_obligatoire_pascal","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":700,"wires":[[]]},{"id":"13daf0ea1bc534dd","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Clarence","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_clarence","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":780,"wires":[[]]},{"id":"a640059ff6cedd61","type":"api-call-service","z":"335bd89f27c73b7e","name":"Script HA -  SMS - Eloise","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"notification_sms_variable_message_obligatoire_eloise","entityId":"","data":"{\t    \"message\": msg.payload\t\t    \t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":860,"wires":[[]]},{"id":"22186f7a74fec36f","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSStephanie","links":["c858a79d18d17e42","8edc6d7303c2db5d","85cd51a497b8d3eb","21d3b514b2df5ab9","3fcaeebeabb9988c","e2d4d5c6e5d82874"],"x":170,"y":620,"wires":[["0197bc6249b93a5a"]],"l":true},{"id":"93d062bbf9af5c89","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSPascal","links":["c858a79d18d17e42","8edc6d7303c2db5d","85cd51a497b8d3eb","21d3b514b2df5ab9","07eb6ece469c79da","7dc79138d067c52c","3fcaeebeabb9988c","e2d4d5c6e5d82874"],"x":164.0142059326172,"y":700.7329711914062,"wires":[["1b82cf59a11925c4"]],"l":true},{"id":"88f4a6b9887ab019","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSEloise","links":[],"x":160,"y":860,"wires":[["a640059ff6cedd61"]],"l":true},{"id":"343866db0d57e779","type":"link in","z":"335bd89f27c73b7e","name":"VersSMSClarence","links":[],"x":170,"y":780,"wires":[["13daf0ea1bc534dd"]],"l":true},{"id":"f979c8b43295f730","type":"comment","z":"335bd89f27c73b7e","name":"SMS","info":"","x":350,"y":560,"wires":[]},{"id":"145324512d5b0e46","type":"comment","z":"335bd89f27c73b7e","name":"Telegram","info":"","x":1100,"y":80,"wires":[]},{"id":"a047ad67eb2985fe","type":"comment","z":"335bd89f27c73b7e","name":"ECHO","info":"","x":310,"y":40,"wires":[]},{"id":"550cd211c55576d0","type":"debug","z":"335bd89f27c73b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":80,"wires":[]},{"id":"d503b3b5b927c0f4","type":"api-call-service","z":"335bd89f27c73b7e","name":"Doorbird Snapshot","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.portier_live","data":"{\"filename\":\"/config/www/snapshots/snapshots_doorbird.jpg\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":1020,"wires":[["43dda70c5b52fc73"]]},{"id":"d2cf314ff90e5b3f","type":"api-call-service","z":"335bd89f27c73b7e","name":"Envoyer une photo via telegram - Doorbird","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"telegram_bot","service":"send_photo","entityId":"","data":"{\"file\":\"/config/www/snapshots/snapshots_doorbird.jpg\",\"target\":[246735540, 315573228]}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":1020,"wires":[["cd58ad44dd8394e1"]]},{"id":"43dda70c5b52fc73","type":"delay","z":"335bd89f27c73b7e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":1020,"wires":[["d2cf314ff90e5b3f"]]},{"id":"cd58ad44dd8394e1","type":"debug","z":"335bd89f27c73b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":1100,"wires":[]},{"id":"ccdd6a391c5ed645","type":"comment","z":"335bd89f27c73b7e","name":"Telegram","info":"","x":390,"y":980,"wires":[]},{"id":"231b1b91f3733db4","type":"link in","z":"335bd89f27c73b7e","name":"TelegramPhotoDoorbird","links":["91019890881dd890"],"x":315,"y":1020,"wires":[["d503b3b5b927c0f4"]]},{"id":"6a81d1fe531efb26","type":"debug","z":"8ac4bc30b42b7a7d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"7209415a4aa9f6dd","type":"switch","z":"8ac4bc30b42b7a7d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On Battery Battery Discharging","vt":"str"},{"t":"eq","v":"Online Battery Charging","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["6a81d1fe531efb26","becda4442ef086e4","9a39a06458e07d35"],["6a81d1fe531efb26","77f18194c6eb48b6"]]},{"id":"344360a1fd75c2f1","type":"server-state-changed","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.myups_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":260,"wires":[["7209415a4aa9f6dd","6a81d1fe531efb26"]]},{"id":"becda4442ef086e4","type":"api-call-service","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"shell_command","service":"turn_off_nas_netgear","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":200,"wires":[["0219aa3aba7d0863"]]},{"id":"9a39a06458e07d35","type":"api-call-service","z":"8ac4bc30b42b7a7d","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"shell_command","service":"turn_off_nas_nl54l","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":160,"wires":[["0219aa3aba7d0863"]]},{"id":"07eb6ece469c79da","type":"link out","z":"8ac4bc30b42b7a7d","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","ced87f2e5d5c0601"],"x":1340,"y":180,"wires":[],"l":true},{"id":"0219aa3aba7d0863","type":"function","z":"8ac4bc30b42b7a7d","name":"Coupure électrique détectée","func":"msg.payload =\n\n\"Coupure électrique détectée!\"+\n\"Extinction des NAS!\"+ \n\"Statut de l'onduleur!\"+\"{{ states('sensor.myups_status') }}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":180,"wires":[["07eb6ece469c79da"]]},{"id":"7dc79138d067c52c","type":"link out","z":"8ac4bc30b42b7a7d","name":"VersNotifications - Telegram - SMS - Echo","mode":"link","links":["34dd5813f28f2a42","93d062bbf9af5c89","a7ddbf0dfd2c325b","ced87f2e5d5c0601"],"x":1340,"y":260,"wires":[],"l":true},{"id":"77f18194c6eb48b6","type":"function","z":"8ac4bc30b42b7a7d","name":"Coupure électrique détectée","func":"msg.payload =\n\n\"Retour électrique détectée!\"+\n\"Batterie de l'onduleur en charge !\"+ \n\"Statut de l'onduleur!\"+\"{{ states('sensor.myups_status') }}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":260,"wires":[["7dc79138d067c52c"]]},{"id":"586ad27957aefd26","type":"debug","z":"bd8aec8f1871271e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"7e91924d8a912796","type":"server-events","z":"bd8aec8f1871271e","name":"","server":"43d85569dace75e0","version":1,"event_type":"doorbird_portier_une_personne_sonne","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":310,"y":380,"wires":[["98880199f1176c79","586ad27957aefd26","ce1ba4885e7c9404","91019890881dd890"]]},{"id":"98880199f1176c79","type":"function","z":"bd8aec8f1871271e","name":"Une personne sonne","func":"msg.payload =\n\n\"Une personne sonne au portail!!\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["477d585d0c37ac25"]]},{"id":"477d585d0c37ac25","type":"link out","z":"bd8aec8f1871271e","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","a7ddbf0dfd2c325b","ced87f2e5d5c0601"],"x":970,"y":360,"wires":[],"l":true},{"id":"ce1ba4885e7c9404","type":"api-call-service","z":"bd8aec8f1871271e","name":"Faire sonner le carillon","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.carillon_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":420,"wires":[[]]},{"id":"91019890881dd890","type":"link out","z":"bd8aec8f1871271e","name":"VersTelegramPhotoDoorbird","mode":"link","links":["231b1b91f3733db4"],"x":645,"y":320,"wires":[]},{"id":"20d5e1a28d74de7d","type":"api-call-service","z":"32a912a98d31efc0","name":"Lumière garage OFF","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.multilevel_power_switch_instance_1_level","data":"{\"brightness_pct\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":160,"wires":[[]]},{"id":"dee7fc1a3687d8a7","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Salle à manger","topic":"lights","x":600,"y":300,"wires":[["145ca90c48d9cba0"]]},{"id":"e0d4734896b614a1","type":"amazon-echo-hub","z":"32a912a98d31efc0","port":"80","processinput":0,"discovery":true,"x":350,"y":520,"wires":[["dee7fc1a3687d8a7","28ae454d43ebdb7e","090b2ee9efd3c721","9ef6ab7591ff3c75","67199ae6d0e00327","c47b2404d2a12f61","d355e7dedf38b864"]]},{"id":"145ca90c48d9cba0","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["2bed1946f5e1a802"],["d7fce633865d91d7"]]},{"id":"2bed1946f5e1a802","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":240,"wires":[[]]},{"id":"d7fce633865d91d7","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_sam","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":360,"wires":[[]]},{"id":"52ef89303226cf1a","type":"comment","z":"32a912a98d31efc0","name":"Lumière SAM","info":"","x":590,"y":240,"wires":[]},{"id":"28ae454d43ebdb7e","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Chambre clarence","topic":"lights","x":610,"y":500,"wires":[["4a5459ecc83fdb9c"]]},{"id":"4a5459ecc83fdb9c","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":500,"wires":[["3b45771989e69d7d"],["6e9b26805b66d0ca"]]},{"id":"3b45771989e69d7d","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":440,"wires":[[]]},{"id":"6e9b26805b66d0ca","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_rue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":560,"wires":[[]]},{"id":"ce1e23875b709066","type":"comment","z":"32a912a98d31efc0","name":"Lumière chambre clarence","info":"","x":610,"y":440,"wires":[]},{"id":"090b2ee9efd3c721","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Chambre parents","topic":"lights","x":610,"y":700,"wires":[["9ea36a9ed2aa587f"]]},{"id":"9ea36a9ed2aa587f","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":700,"wires":[["d84609d2c2a88a3b"],["04b878340eb31666"]]},{"id":"d84609d2c2a88a3b","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":640,"wires":[[]]},{"id":"04b878340eb31666","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_chambre_parents","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":760,"wires":[[]]},{"id":"e8c5727870271b17","type":"comment","z":"32a912a98d31efc0","name":"Lumière chambre parents","info":"","x":610,"y":620,"wires":[]},{"id":"9ef6ab7591ff3c75","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"garage","topic":"lights","x":580,"y":160,"wires":[["c4b6788d142bf7a1"]]},{"id":"c4b6788d142bf7a1","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["9909e41fa72aad88"],["20d5e1a28d74de7d"]]},{"id":"67199ae6d0e00327","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Portails","topic":"doors","x":560,"y":860,"wires":[["7e44462718ae7224"]]},{"id":"7e44462718ae7224","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":860,"wires":[["ff84238319678c61"],["a421ec4c04d6a9fe"]]},{"id":"ff84238319678c61","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails_ouvertures_des_portails_en_rentrant","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":820,"wires":[[]]},{"id":"a421ec4c04d6a9fe","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"script","service":"portails","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":900,"wires":[[]]},{"id":"c47b2404d2a12f61","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Salon","topic":"lights","x":550,"y":1033,"wires":[["97b44dc3879389e4"]]},{"id":"97b44dc3879389e4","type":"switch","z":"32a912a98d31efc0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1033,"wires":[["03d452a46fe57c4c"],["76c0e5a7cb34f639"]]},{"id":"03d452a46fe57c4c","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lumiere_salon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":973,"wires":[[]]},{"id":"76c0e5a7cb34f639","type":"api-call-service","z":"32a912a98d31efc0","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lumiere_salon","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1093,"wires":[[]]},{"id":"36f45a034f835280","type":"comment","z":"32a912a98d31efc0","name":"Lumière Salon","info":"","x":550,"y":973,"wires":[]},{"id":"9909e41fa72aad88","type":"link out","z":"32a912a98d31efc0","name":"versLumièreGarageOn","mode":"link","links":["1f7c2ac821d4a422"],"x":855,"y":120,"wires":[]},{"id":"d355e7dedf38b864","type":"amazon-echo-device","z":"32a912a98d31efc0","name":"Temperature ballon eau chaude","topic":"temperature","x":650,"y":80,"wires":[["a01c14bd70730916"]]},{"id":"a01c14bd70730916","type":"function","z":"32a912a98d31efc0","name":"Notification ballon eau chaude - Arrêt","func":"msg.payload =\n\n\"La température de l'eau est de \"+ \n\"{{states('sensor.temperature_ballon_eau_chaude') }}\"+\n\"degrées\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":80,"wires":[["5a3d78a114021e01"]]},{"id":"5a3d78a114021e01","type":"link out","z":"32a912a98d31efc0","name":"VersEchos","mode":"link","links":["34dd5813f28f2a42","ced87f2e5d5c0601"],"x":1290,"y":80,"wires":[],"l":true},{"id":"b504a0cc4c01fe52","type":"link in","z":"32a912a98d31efc0","name":"LumièreGarageOff","links":["5bc8f1d00b2809f3"],"x":815,"y":200,"wires":[["20d5e1a28d74de7d"]]},{"id":"59deab440bf0efe4","type":"api-call-service","z":"b094d7f93a062c25","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"hassio","service":"host_reboot","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":260,"wires":[["85a7440ef5172bd1"]]},{"id":"949aadcb4e226f34","type":"api-call-service","z":"b094d7f93a062c25","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"core_mosquitto\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":380,"wires":[["7d46632296a03958"]]},{"id":"85a7440ef5172bd1","type":"function","z":"b094d7f93a062c25","name":"Notification - Restart de HA","func":"msg.payload =\n\n\"Rédemmarrage de Home Assistant\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":260,"wires":[["f5e044a4166e34af"]]},{"id":"f5e044a4166e34af","type":"link out","z":"b094d7f93a062c25","name":"VersTelegram","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1140,"y":260,"wires":[],"l":true},{"id":"7d46632296a03958","type":"function","z":"b094d7f93a062c25","name":"Notification - Restart mosquitto","func":"msg.payload =\n\n\"Restart de mosquitto\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":380,"wires":[["3838e32361eaade2"]]},{"id":"3838e32361eaade2","type":"link out","z":"b094d7f93a062c25","name":"VersTelegram","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1140,"y":380,"wires":[],"l":true},{"id":"d8efbb44305d89a8","type":"api-call-service","z":"b094d7f93a062c25","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"a0d7b954_zwavejs2mqtt\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":520,"wires":[["e3627fd7b8dc6a56"]]},{"id":"e3627fd7b8dc6a56","type":"function","z":"b094d7f93a062c25","name":"Notification - Restart zwaveJS","func":"msg.payload =\n\n\"Restart de mosquitto\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":520,"wires":[["5367c0af079bcc54"]]},{"id":"5367c0af079bcc54","type":"link out","z":"b094d7f93a062c25","name":"VersTelegram","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1180,"y":520,"wires":[],"l":true},{"id":"527492a2c10fcfd6","type":"cron","z":"b094d7f93a062c25","name":"At 1 AM","crontab":"0 0 1 ? * * *","x":350,"y":260,"wires":[[]]},{"id":"f8cde21a0fba0ff5","type":"comment","z":"b094d7f93a062c25","name":"Reboot HA","info":"","x":360,"y":180,"wires":[]},{"id":"a6b72a7661ad7fe1","type":"cron","z":"b094d7f93a062c25","name":"At 1:15 AM","crontab":"* 15 1 ? * * *","x":360,"y":380,"wires":[["949aadcb4e226f34"]]},{"id":"18b6f78cd922e92b","type":"cron","z":"b094d7f93a062c25","name":"At 1:20 AM","crontab":"* 20 1 ? * * *","x":360,"y":520,"wires":[[]]},{"id":"44e45396c52dc3e5","type":"comment","z":"b094d7f93a062c25","name":"Reboot Mosquitto","info":"","x":380,"y":320,"wires":[]},{"id":"a1484fcd62a65527","type":"comment","z":"b094d7f93a062c25","name":"Reboot Zwave JS","info":"","x":390,"y":460,"wires":[]},{"id":"9d49c3240f8f12d2","type":"api-call-service","z":"b094d7f93a062c25","name":"","server":"43d85569dace75e0","version":3,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"core_mosquitto\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":680,"wires":[["fd05eb57f2aa4d6b"]]},{"id":"fd05eb57f2aa4d6b","type":"function","z":"b094d7f93a062c25","name":"Notification - Restart mosquitto","func":"msg.payload =\n\n\"Restart de mosquitto\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":680,"wires":[["8fa2afd67118af9a"]]},{"id":"8fa2afd67118af9a","type":"link out","z":"b094d7f93a062c25","name":"VersTelegram","mode":"link","links":["a7ddbf0dfd2c325b"],"x":1160,"y":680,"wires":[],"l":true},{"id":"3e06dc7c7da74d56","type":"cron","z":"b094d7f93a062c25","name":"At 1:25 AM","crontab":"* 25 1 ? * * *","x":380,"y":680,"wires":[[]]},{"id":"13e658f9d0ef73f8","type":"comment","z":"b094d7f93a062c25","name":"Reboot Mosquitto","info":"","x":400,"y":620,"wires":[]},{"id":"bf394d5a.9fd29","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":380,"wires":[]},{"id":"b599d42c.8ecc7","type":"function","z":"b6bf4fb2.8e8618","name":"Structure payload","func":"function isNumeric(n) { \n      return !isNaN(parseFloat(n)) && isFinite(n); \n}\n\n// Pour tous les labels \nfor (var label in msg.payload ) {\n    var value = msg.payload[label];\n    \n\t// Correction des valeurs type string en numérique \t\t\n\tif (label == \"OPTARIF\")\t{\n  \t\t// L'option tarifaire choisie (Groupe \"OPTARIF\") est codée sur 4 caractères alphanumériques \n  \t\t// J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous \n  \t\t// je mets le 4eme char à 0, trop de possibilités \n      \tvalue = value.substring(0, 3);\n    \n       \tif      (value==\"BAS\") value=1;// BASE => Option Base. \n  \t\telse if (value==\"HC.\") value=2;// HC.. => Option Heures Creuses. \n  \t\telse if (value==\"EJP\") value=3;// EJP. => Option EJP. \n  \t\telse if (value==\"BBR\") value=4;// BBRx => Option Tempo\n  \t\telse value = 0;\n  \t\t\n  \t\tmsg.payload[label] = value;\n\t} else if (label==\"HHPHC\") {\n      // L'horaire heures pleines/heures creuses (Groupe \"HHPHC\") est codé par un caractère A à Y \n      // J'ai choisi de prendre son code ASCII\n      msg.payload[label] = value.charCodeAt();\n    } else if ( label == \"PTEC\") {\n      // La période tarifaire en cours (Groupe \"PTEC\"), est codée sur 4 caractères \n      // J'ai pris un nombre arbitraire codé dans l'ordre ci-dessous\n      if      (value==\"TH..\") value= 1; // Toutes les Heures. \n      else if (value==\"HC..\") value= \"Heures Creuses\"; // Heures Creuses. \n      else if (value==\"HP..\") value= \"Heures Pleines\"; // Heures Pleines. \n      else if (value==\"HN..\") value= 4; // Heures Normales. \n      else if (value==\"PM..\") value= 5; // Heures de Pointe Mobile. \n      else if (value==\"HCJB\") value= 6; // Heures Creuses Jours Bleus. \n      else if (value==\"HCJW\") value= 7; // Heures Creuses Jours Blancs (White). \n      else if (value==\"HCJR\") value= 8; // Heures Creuses Jours Rouges. \n      else if (value==\"HPJB\") value= 9; // Heures Pleines Jours Bleus. \n      else if (value==\"HPJW\") value= 10;// Heures Pleines Jours Blancs (White). \n      else if (value==\"HPJR\") value= 11;// Heures Pleines Jours Rouges. \n      else value = 0;\n      \n      msg.payload[label] = value;\n    } else if ( label == \"IINST\") {\n        delete msg.payload.IINST;\n        msg.payload.IINST = Number(value)\n    } else if ( label == \"IMAX\") {\n        delete msg.payload.IMAX;\n        msg.payload.IMAX1 = Number(value);\n    } else if ( isNumeric(value) && label != \"ADCO\" ) {\n        // Transformer les valeurs numériques\n        msg.payload[label] = Number(value);\n    }\n}\n\n// Sauvegarde dans le contexte global\ncontext.global.teleinfo = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":400,"wires":[["38966188.3838be","17473b62.0be655","5203f231.a9309c","f8b9a9d0.28a1d8","58790411.399b94","bc2cf4c3.18dc9","cf3f5ea2.318c38"]]},{"id":"e6ae1666.7e85e","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/index_wh","topic":"edf/index_wh","qos":"","retain":"true","broker":"580338f6.25a79","x":1310,"y":420,"wires":[]},{"id":"2b6d68ce.c4a64","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/index_kwh","topic":"edf/index_kwh","qos":"","retain":"true","broker":"580338f6.25a79","x":1320,"y":520,"wires":[]},{"id":"57a56df7.4661d4","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/iinst","topic":"edf/iinst","qos":"","retain":"true","broker":"580338f6.25a79","x":1300,"y":620,"wires":[]},{"id":"9229bd29.ca27b8","type":"serial in","z":"b6bf4fb2.8e8618","name":"","serial":"29cc3035.d7f7","x":70,"y":400,"wires":[["7c005dc3.81bf24"]]},{"id":"38966188.3838be","type":"function","z":"b6bf4fb2.8e8618","name":"INDEX TOTAL WH","func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[["71022c13.706b44"]]},{"id":"700dcde7.3c3524","type":"function","z":"b6bf4fb2.8e8618","name":"valide trame","func":"// La trame complète est reçue dans 'msg'\nvar teleinfo={};\n\n// Enlever les codes début et fin de trame et récupérer les lignes 1 à 1\nvar lines = msg.payload.toString().replace(\"\\u0002\\n\",\"\").replace(\"\\r\\u0003\",\"\");\nlines = lines.split(\"\\r\\n\");\n\n// Pour chaque ligne\nfor (var line in lines) {\n\tvar i;\n  \tvar checksum = 32;\n  \t\n  \t// Recupérer le label, la valeur et la checksum\n  \t// si la checksum est un espace on le remplace par un caractère non \n  \t// autorisé en checksum (ici 's') pour eviter pb de split\n  \t// donc espace espace devient espace s\n\tvar myline = lines[line].toString().replace(\"  \",\" s\").split(\" \");\n\t\n\t// on dépile nos 3 valeurs\n\tvar check = myline.pop();\n\tvar value = myline.pop();\n\tvar label = myline.pop();\n\t\n\t// On peu repositionner la checksum à espace si c'était le cas\n\tif (check == \"s\") check = \" \";\n\n\t// Calcul de la checksum sur ce qu'on a reçu, on balaye tous les caractères\t\t\n  \tfor (i = 0; i < label.length; i++) checksum += label.charCodeAt(i);\n  \tfor (i = 0; i < value.length; i++) checksum += value.charCodeAt(i);\n \tchecksum = ((checksum%256) & 63) + 32;\n \tchecksum = String.fromCharCode(checksum);\n\t\n\t// Checksum correcte ?\n \tif (checksum == check ) {\n\t\tteleinfo[label] = value;\n\t} else {\n\t\tconsole.log(\"'%s' '%s' '%s' => Bad Checksum '%s'\", label, value, check, checksum );\n\t}\n}\nreturn [ { payload: teleinfo } ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":400,"wires":[["b599d42c.8ecc7","a34454a0.f9e508"]]},{"id":"71022c13.706b44","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":400,"wires":[["bf394d5a.9fd29","e6ae1666.7e85e"]]},{"id":"17473b62.0be655","type":"function","z":"b6bf4fb2.8e8618","name":"INDEX TOTAL KWH","func":"var INDEX = msg.payload.HCHC + msg.payload.HCHP\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":460,"wires":[["8bcf3845.76c17"]]},{"id":"8bcf3845.76c17","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":460,"wires":[["2427788b.79c72","2b6d68ce.c4a64"]]},{"id":"2427788b.79c72","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":480,"wires":[]},{"id":"bc2cf4c3.18dc9","type":"function","z":"b6bf4fb2.8e8618","name":"IINST","func":"var IINST = msg.payload.IINST\n\nmsg.payload = IINST\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[["c06a8f31.0565d"]]},{"id":"dd6250c4.56d518","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":580,"wires":[]},{"id":"c06a8f31.0565d","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":520,"wires":[["dd6250c4.56d518","57a56df7.4661d4"]]},{"id":"7c005dc3.81bf24","type":"delay","z":"b6bf4fb2.8e8618","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":260,"y":400,"wires":[["700dcde7.3c3524","420cccfd.18dbfc"]]},{"id":"5203f231.a9309c","type":"function","z":"b6bf4fb2.8e8618","name":"INDEX HC KWH","func":"var INDEX = msg.payload.HCHC\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["b042d1e6.2264e"]]},{"id":"f8b9a9d0.28a1d8","type":"function","z":"b6bf4fb2.8e8618","name":"INDEX HP KWH","func":"var INDEX = msg.payload.HCHP\n\nmsg.payload = INDEX / 1000\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["3adb384.0d426c8","9cca2954.3e65e"]]},{"id":"9cca2954.3e65e","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":180,"wires":[]},{"id":"7a3dcfd0.a80b8","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/index_hp_kwh","topic":"edf/index_hp_kwh","qos":"","retain":"true","broker":"580338f6.25a79","x":1330,"y":220,"wires":[]},{"id":"2a2f87fa.cb4dc8","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":280,"wires":[]},{"id":"dac4e55d.f70d18","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/index_hc_wh","topic":"edf/index_hc_kwh","qos":"","retain":"true","broker":"580338f6.25a79","x":1330,"y":320,"wires":[]},{"id":"b042d1e6.2264e","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":340,"wires":[["dac4e55d.f70d18","2a2f87fa.cb4dc8"]]},{"id":"3adb384.0d426c8","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":280,"wires":[["7a3dcfd0.a80b8","9cca2954.3e65e"]]},{"id":"58790411.399b94","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"a34454a0.f9e508","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":300,"wires":[]},{"id":"420cccfd.18dbfc","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":300,"wires":[]},{"id":"cf3f5ea2.318c38","type":"function","z":"b6bf4fb2.8e8618","name":"PTEC","func":"var PTEC = msg.payload.PTEC\n\nmsg.payload = PTEC\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":580,"wires":[["aed6ada5.e41f18"]]},{"id":"d71fee6.969b89","type":"mqtt out","z":"b6bf4fb2.8e8618","name":"edf/ptec","topic":"edf/ptec","qos":"","retain":"true","broker":"580338f6.25a79","x":1300,"y":720,"wires":[]},{"id":"f395beb.f5510c","type":"debug","z":"b6bf4fb2.8e8618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":680,"wires":[]},{"id":"aed6ada5.e41f18","type":"rbe","z":"b6bf4fb2.8e8618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":580,"wires":[["f395beb.f5510c","d71fee6.969b89"]]},{"id":"8a5d12df.7e9878","type":"api-get-history","z":"ca87c975.6f38b","name":"index edf -2mn","server":"43d85569dace75e0","version":0,"startdate":"","enddate":"","entityid":"sensor.index_edf_wh","entityidtype":"is","useRelativeTime":true,"relativeTime":"2m","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":280,"y":360,"wires":[["1114b491.4e8903"]]},{"id":"2dea21b8.fd7f3e","type":"api-current-state","z":"ca87c975.6f38b","name":"index edf now","server":"","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.index_edf_wh","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":460,"wires":[["293d209b.f1d7a8"]]},{"id":"1114b491.4e8903","type":"function","z":"ca87c975.6f38b","name":"","func":"msg2 = {};\nmsg2.payload = {};\ntopic = 'old';\nmsg2.payload.old_state = parseFloat(msg.payload[0].state);\nmsg2.payload.old_date = Date.parse(msg.payload[0].last_changed)/1000|0;\nmsg2.topic = topic;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":360,"wires":[["fea858fd.3c007","f50434ab.e5e0c"]]},{"id":"fea858fd.3c007","type":"join","z":"ca87c975.6f38b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":400,"wires":[["a23f2227.24dd38"]]},{"id":"a23f2227.24dd38","type":"function","z":"ca87c975.6f38b","name":"","func":"old = msg.payload.old.old_state;\ncurrent = msg.payload.new.new_state;\ndiff_index = current - old;\ndiff_seconds = msg.payload.new.new_date - msg.payload.old.old_date;\ncoeff = diff_seconds / 3600\nconso = diff_index / coeff\nconso = Math.round(conso*100)/100\nmsg2 = {};\nmsg2.payload = {};\nmsg2.payload.conso = conso;\nreturn msg2;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["d8b67352.20eda8"]]},{"id":"dca20d0b.d64048","type":"inject","z":"ca87c975.6f38b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["8a5d12df.7e9878","2dea21b8.fd7f3e"]]},{"id":"293d209b.f1d7a8","type":"function","z":"ca87c975.6f38b","name":"","func":"msg3 = {};\nmsg3.payload = {};\ntopic = 'new';\nmsg3.payload.new_state = parseFloat(msg.payload);\nmsg3.payload.new_date = Date.parse(msg.data.last_changed)/1000|0;\nmsg3.topic = topic;\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":460,"wires":[["fea858fd.3c007","b34ca34f.bb8688"]]},{"id":"ae07498a.aed6e8","type":"mqtt out","z":"ca87c975.6f38b","name":"puissance instantanée","topic":"edf/puissance_inst","qos":"","retain":"true","broker":"580338f6.25a79","x":1280,"y":400,"wires":[]},{"id":"d8b67352.20eda8","type":"function","z":"ca87c975.6f38b","name":"transforme en nombre","func":"\nmsg.payload= parseFloat(msg.payload.conso);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":400,"wires":[["ae07498a.aed6e8"]]},{"id":"f50434ab.e5e0c","type":"debug","z":"ca87c975.6f38b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":585,"y":315,"wires":[]},{"id":"b34ca34f.bb8688","type":"debug","z":"ca87c975.6f38b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":480,"wires":[]}]